/*_company.scss*/



#OurTeam
{
    .thumbs
    {
      text-align: center;
      margin-bottom: 16px;
    }

    .thumbs a
    {
      display: inline-block;
      position: relative;
      padding: 8px 16px 8px 4px;
      margin: 10px;
      width: 166px;
    }

    .thumbs figure img
    {
      display: inline-block;
      position: relative;
      background-size: cover;
      width: 120px;
      height: 120px;
      border: 1px solid #444444;
      border-radius: 3px;
      @include opacify(.5);
    }

    .thumbs figure figcaption
    {
      display: inline-block;
      position: absolute;
      top: 124px;
      left: 0px;
      width: 146px;
      height: 24px;
      background-color: $lucity-green;
      color: $lucity-grey;
      font-weight: 600;
      font-size: 16px;
      text-align: left;
      padding: 2px 0 0 14px;
      z-index: 2;

    }

    .selected figure img
    {
      @include opacify(1);
    }

    .thumbs span
    {
      display: inline-block;
      position: relative;
      width: 140px;
      font-size: 10px;
      height: 16px;
      padding-top: 0;
      margin-top: 22px;
    }
}





#GetToKnowUs div.row div:nth-child(1),
#GetToKnowUs div.row div:nth-child(5)
{
  background-color: $lucity-orange;
}

#GetToKnowUs div.row div:nth-child(2),
#GetToKnowUs div.row div:nth-child(6)
{
  background-color: $lucity-green;
}

#GetToKnowUs div.row div:nth-child(3),
#GetToKnowUs div.row div:nth-child(7)
{
  background-color: $lucity-blue-green;
}

#GetToKnowUs div.row div:nth-child(4),
#GetToKnowUs div.row div:nth-child(8)
{
  background-color: $lucity-dark-green;
}


#GetToKnowUs div.row div 
{
    background-color: $lucity-green;
    color: white;
    border-left: 1em solid white;
    border-right: 1em solid white;
    border-bottom: 1em solid white;
    height: 11em;
    line-height: 1.2;
    margin-bottom: 60px;
}

@media only screen and (max-width : 768px), only screen and (max-device-width: 480px)
{
  #GetToKnowUs div.row div
  {
    border-left: 4em solid white;
    border-right: 4em solid white;
  }

}

@media only screen and (min-width : 768px)
{
  #GetToKnowUs div.row div:nth-child(1),
  #GetToKnowUs div.row div:nth-child(5)
  {
    border-left: 0;
  }

  #GetToKnowUs div.row div:nth-child(4),
  #GetToKnowUs div.row div:nth-child(8)
  {
    border-right: 0;
  }
}


#GetToKnowUs div.row div a
{
  display: block;
  margin-top: -50px;
  height: 100px;
}

#GetToKnowUs div.row div a img
{
  display: block;
  height: 100%;
  width: 100%;
}

#GetToKnowUs div.row
{
  margin-top: 50px;
  text-align: center;
}

#GetToKnowUs div.row div a h3
{
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: lowercase;
  text-align: center;
  font-size: 1.3em;
  opacity: 0.85;
  padding-top: 10px;
}

