/*_constants.scss*/
$lucity-orange: #ff9933;
$lucity-yellow: #ffff33;
$lucity-green: #99cc33;
$lucity-dark-green: #78A22D;
$lucity-dark-orange: #ff6600;
$lucity-blue-green: #137866;
$lucity-blue-grey: #4f5c73;
$lucity-grey: #666666;
$lucity-font-color: #878e83;
$lucity-font-color-inverse: #ffffff;
$lucity-font-color-dark: #666666;
$lucity-font-header-color: $lucity-blue-grey;

$large-screen-menu-height: 120px;
$small-screen-menu-height: 50px;

$lucity-font-menu: 'Josefin Sans', serif;
$lucity-font-body: 'Josefin Sans', serif;
$lucity-font-header: 'Montserrat Alternates', sans-serif;

@mixin colorbar ($height, $topBorderWeight, $topBorderColor) {
  padding-top: $height;
  border-top: $topBorderWeight solid $topBorderColor;
  background: url(/resources/img/colorbar.svg) repeat-x;
}

@mixin opacify($amount) {
  opacity: $amount;
  filter: alpha(opacity=$amount * 100); /* For IE8 and earlier */
}

@mixin verticalFade($topColor, $bottomColor) {
    background: $topColor; /* Old browsers */
    background: -moz-linear-gradient(top,  $topColor 0%, $bottomColor 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  $topColor 0%, $bottomColor 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, $topColor 0%, $bottomColor 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$topColor', endColorstr='$bottomColor',GradientType=0 ); /* IE6-9 */
}

