/*_talkinghead.scss*/
#Testimonials
{
  @include colorbar(20px, 1px, white);
}

#Testimonials blockquote
{
  border: none;
  margin-bottom: 0;
  background: url(../img/quotebox.svg) no-repeat bottom left;
  background-size: cover;
  color: white;
  font-family: $lucity-font-header;
  font-weight: 400;
}

#Testimonials blockquote p
{
  color: white;
  text-align: center;
  font-weight: 300;
  font-family: inherit;
}

#Testimonials blockquote footer
{
  text-align: right;
  font-family: inherit;
}

#Testimonials blockquote{
    footer,
    footer cite,
    footer cite span
    {
      color: white;
      font-style: normal;
      font-weight: 400;
    }
}

#Testimonials blockquote footer:before
{
  content: '\7E';
  font-weight: 400;
}

#Testimonials blockquote footer cite
{
  font-weight: 400;
  padding-right: 20px;
}

#Testimonials {
  .quote, blockquote
  {
    border: thin transparent solid;
  }
}

  #Testimonials h1 {
      font-size: 3em;
  }
  #Testimonials .quote {
    min-height: 200px;
    margin-top: -20px;
  }

  #Testimonials blockquote {
    margin: -60px 0 20px 300px;
    padding: 50px 30px 70px 40px;
    font-size: 18px;
    font-weight: 400;
  }

@media only screen and (min-width: 768px) {
  #Testimonials h1 {
      font-size: 3.5em;
  }
  #Testimonials .quote {
    min-height: 300px;
    margin-top: -30px;
  }

  #Testimonials blockquote {
    margin: -50px 0 20px 350px;
    padding: 60px 40px 80px 40px;
    font-size: 20px;
    font-weight: 400;
  }
}

@media only screen and (min-width: 992px) {
  #Testimonials h1 {
      font-size: 4em;
  }
  #Testimonials .quote {
    min-height: 400px;
    margin-top: -30px;
  }

  #Testimonials blockquote {
    margin: -60px 0 20px 475px;
    padding: 70px 50px 90px 50px;
    font-size: 24px;
    font-weight: 500;
  }
}

@media only screen and (min-width: 1200px) {
  #Testimonials h1 {
      font-size: 4em;
  }
  #Testimonials .quote {
    min-height: 500px;
    margin-top: -30px;
  }
  #Testimonials blockquote {
    margin: -60px 0 40px 520px;
    padding: 80px 60px 96px 60px;
    font-size: 26px;
    font-weight: 600;
  }
}

@media only screen and (max-device-width: 736px){
  #Testimonials .quote {
    min-height: 200px;
  }

  #Testimonials blockquote {
    margin: 0 0 220px 0;
    padding: 50px 30px 70px 40px;
    font-size: 18px;
    font-weight: 400;
  }
}
