/*_resources.scss*/

#lookAround
{
    padding: 0 15% 0 15%;
    font-weight: 600;
    font-size: 2em;
    text-align: center;
    color: $lucity-blue-grey;
}

#lookAround:after
{
    display: block;
    clear: both;
    content: " ";
    margin-left: 25%;
    margin-right: 25%;
    line-height: 30px;
    min-height: 30px;
    border-bottom: 3px solid $lucity-orange;
}

#ResourceWhatSearch
{
    margin-bottom: 30px;

    p
    {
        color: $lucity-blue-grey;
        font-weight: 400;
        font-size: 1.3em;
        margin-left: 48px;
    }

    #ResourceSearch
    {
        padding: 100px 60px;

        .input-group
        {
            margin-bottom: 8px;
        }
        input[type=text]
        {
            border-bottom-left-radius: 6px;
            border-top-left-radius: 6px;
            font-size: 22px;
            height: 46px;
        }
        button
        {
            font-size: 22px;
            height: 46px;
        }
        label
        {
            padding-right: 10px;
            font-size: 1em;
        }
        label:last-child
        {
            padding-right: 0px;
        }
        p
        {
            display: inline-block;
            padding: 0;
            margin: 0;
            width: 100%;
            span
            {
                display: inline-block;
                width: 90%;
                font-size: .72em;
                padding: 14px 0 0 0;
                margin: 0;
                text-align: center;
            }
        }
        p:before
        {
            display: inline-block;
            width: 5%;
            content: "{";
            padding-right: 6px;
            font-size: 2.2em;
            font-weight: 600;
            float: left;
        }
        p:after
        {
            display: inline-block;
            width: 5%;
            content: "}";
            padding-left: 6px;
            font-size: 2.2em;
            font-weight: 600;
            float: right;
        }

    }
}

@media only screen and (max-device-width: 736px) {
    #ResourceWhatSearch #ResourceSearch
    {
        padding: 50px 30px;
    }
}

#ResourceDemonstrations
{
    @include colorbar(20px, 1px, white);
    background-color: $lucity-orange;
    position: relative;

    p
    {
        color: $lucity-font-color-dark;
        font-weight: 400;
        font-size: 1.3em;
        margin-left: 48px;
    }

    ul
    {
        position: relative;
        display: block;
    }

    ul li
    {
        display: inline-block;
        position: relative;
        width: 43%;
        background-color: white;
        list-style-type: none;
        margin: 8px;
        padding: 0;
        border: 3px solid #ffffff;
        border-radius: 15px;
    }
    figure img
    {
        width: 100%;
        background-size: cover;
        border-radius: 12px;
    }

    figure figcaption
    {
        padding-left: 6px;
    }

    .videoCount
    {
        position: absolute;
        width: 45%;
        height: 100%;
        right: 0;
        top: 0;
        background-color: #000000;
        @include opacify(.7);
        text-transform: uppercase;
        text-align: center;
        font-size: .8em;
        border-radius: 12px;

        span
        {
            display: block;
            padding-top: 30px;
            font-weight: 600;
            font-size: 1.4em;
        }
    }
}



#ResourceTestimonials
{
    @include colorbar(20px, 1px, white);
    background-color: $lucity-blue-grey;
    padding-bottom: 16px;
}

#ResourceTestimonials h1,
#ResourceTestimonials p,
#ResourceTestimonials li,
#ResourceTestimonials li h2,
#ResourceTestimonials a,
#ResourceTestimonials q
{
    color: $lucity-font-color-inverse;
    text-decoration: none;
}

#ResourceTestimonials a h2:hover
{
    text-decoration: underline;
}

#ResourceTestimonials p
{
    font-size: 1.3em;
    margin-left: 48px;
    font-weight: 400;
}

#ResourceTestimonials li h2
{
    text-transform: none;
    font-weight: 100;
}

#ResourceTestimonials ul li
{
    list-style-type: none;
    padding-left: 50px;
    background: url(../img/quote_ImgID1.png) no-repeat;
    background-position-x: 0;
    background-position-y: 16px;
    background-size: 32px;
}

