#SoftwareEAMS
{
    @include colorbar(11px, 1px, white);
    background-color: $lucity-green;

    p {
        padding: 0 40px 40px 40px;
        font-size: 1.3em;
        font-weight: 600;
        color: $lucity-blue-grey;
    }

    div.row div
    {
        position: relative;
        text-align: center;
        margin: 0 0 40px 0;
        padding: 0;
    }

    div.row div a
    {
        font-family: $lucity-font-header;
    
        position: relative;
        display: block;
        padding: 100px 0 0 0;
        text-align: center;
        margin: 0; 
        width: 100%;
        text-decoration: none;
        text-transform: lowercase;
        font-size: 1.3em;
        font-weight: 400;
        background-size: 90px; 
    }
}

.Water a              { background: url(/resources/img/EAMSIcons/water.svg) no-repeat top center; }
.Sewer a              { background: url(/resources/img/EAMSIcons/sewer.svg) no-repeat top center; }
.Storm a              { background: url(/resources/img/EAMSIcons/storm.svg) no-repeat top center; }
.Facilities a         { background: url(/resources/img/EAMSIcons/facilities.svg) no-repeat top center; }
.Signs a              { background: url(/resources/img/EAMSIcons/signs.svg) no-repeat top center; }
.StreetsAndRoads a    { background: url(/resources/img/EAMSIcons/streetsandroads.svg) no-repeat top center; }
.Bridges a            { background: url(/resources/img/EAMSIcons/bridge.svg) no-repeat top center; }
.RightsOfWay a        { background: url(/resources/img/EAMSIcons/rightofway.svg) no-repeat top center; }
.Pavement a           { background: url(/resources/img/EAMSIcons/pavement.svg) no-repeat top center; }
.Traffic a            { background: url(/resources/img/EAMSIcons/traffic.svg) no-repeat top center; }
.Signals a            { background: url(/resources/img/EAMSIcons/signals.svg) no-repeat top center; }
.StreetLights a       { background: url(/resources/img/EAMSIcons/streetlights.svg) no-repeat top center; }
.Equipment a          { background: url(/resources/img/EAMSIcons/equipment.svg) no-repeat top center; }
.Fleet a              { background: url(/resources/img/EAMSIcons/fleet.svg) no-repeat top center; }
.Parks a              { background: url(/resources/img/EAMSIcons/parks.svg) no-repeat top center; }
.Electric a           { background: url(/resources/img/EAMSIcons/electric.svg) no-repeat top center; }
.Trees a              { background: url(/resources/img/EAMSIcons/trees.svg) no-repeat top center; }
.RefuseAndRecycling a { background: url(/resources/img/EAMSIcons/recycling.svg) no-repeat top center; }
.Environmental a      { background: url(/resources/img/EAMSIcons/environmental.svg) no-repeat top center; }





#SoftwareCommunity
{
    background-color: $lucity-blue-grey;
}

#SoftwareCommunity p
{
    padding: 40px 40px 40px 40px;
    font-size: 1.7em;
    font-weight: 600;
    color: $lucity-font-color-inverse;
}

#SoftwareCommunity::after
{
    margin: 0 -15px;
    display: block;
    content: '';
    height: 60px;
    @include verticalFade($lucity-blue-grey, $lucity-font-color-inverse);
}


#SoftwareAssetHighlights div.linkBox
{
    border: none;
    border-radius: 0;
    background-color: white;
}

#SoftwareAssetHighlights div.linkBox h3
{
    color: $lucity-blue-green;
}






#SoftwareMMS
{
    @include colorbar(11px, 1px, white);
    text-align: center;
    margin-bottom: 40px;

    p {
        padding: 0 40px 40px 40px;
        font-size: 1.4em;
        font-weight: 600;
        color: $lucity-blue-grey;
        text-align: center;
    }

    div.row div
    {
        position: relative;
        display: block;
        height: 240px;
        background-size: cover;
        border-left: 20px solid white;
        border-right: 20px solid white;
        border-top: 1px solid white;
        z-index: 1;   

        h2
        {
            display: none;
            font-size: 2.7em;
        }

        p
        {
            display: none;
            font-size: 1.6em;
            font-weight: 600;
            color: $lucity-blue-grey;
            text-align: center;
            padding-right: 200px;
            padding-left: 200px;
        }
    }

    div.row div:hover
    {

        h2, p
        {
            position: relative;
            display: block;
            z-index: 3;   
        }

        span
        {
            content: "";
            background-color: white;
            opacity: 0.6;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            display: block;
            z-index: 2;   
        }
}

    #MMSWorkOrders
    {
        background: url(/resources/img/Software/Work/WorkOrders.png) center center no-repeat;
    }

    #MMSRequests
    {
        background: url(/resources/img/Software/Work/Requests.png) center center no-repeat;
    }

    #MMSScheduling
    {
        background: url(/resources/img/Software/Work/Scheduling.png) center center no-repeat;
    }

    #MMSInventory
    {
        background: url(/resources/img/Software/Work/Inventory.png) center center no-repeat;
    }
}

