#SoftwareEAMS
{
    @include colorbar(11px, 1px, white);
    background-color: $lucity-green;
}

#SoftwareEAMS p {
    padding: 0 40px 40px 40px;
    font-size: 1.3em;
    font-weight: 600;
    color: $lucity-blue-grey;
}

#SoftwareEAMS div.row div
{
    position: relative;
    text-align: center;
    margin: 0 0 40px 0;
    padding: 0;
}

#SoftwareEAMS div.row div a
{
    font-family: $lucity-font-header;
    
    position: relative;
    display: block;
    padding: 100px 0 0 0;
    text-align: center;
    margin: 0; 
    width: 100%;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 1.3em;
    font-weight: 400;
    background-size: 90px; 
}

.Water a              { background: url(/resources/img/EAMSIcons/water.svg) no-repeat top center; }
.Sewer a              { background: url(/resources/img/EAMSIcons/sewer.svg) no-repeat top center; }
.Storm a              { background: url(/resources/img/EAMSIcons/storm.svg) no-repeat top center; }
.Facilities a         { background: url(/resources/img/EAMSIcons/facilities.svg) no-repeat top center; }
.Signs a              { background: url(/resources/img/EAMSIcons/signs.svg) no-repeat top center; }
.StreetsAndRoads a    { background: url(/resources/img/EAMSIcons/streetsandroads.svg) no-repeat top center; }
.Bridges a            { background: url(/resources/img/EAMSIcons/bridge.svg) no-repeat top center; }
.RightsOfWay a        { background: url(/resources/img/EAMSIcons/rightofway.svg) no-repeat top center; }
.Pavement a           { background: url(/resources/img/EAMSIcons/pavement.svg) no-repeat top center; }
.Traffic a            { background: url(/resources/img/EAMSIcons/traffic.svg) no-repeat top center; }
.Signals a            { background: url(/resources/img/EAMSIcons/signals.svg) no-repeat top center; }
.StreetLights a       { background: url(/resources/img/EAMSIcons/streetlights.svg) no-repeat top center; }
.Equipment a          { background: url(/resources/img/EAMSIcons/equipment.svg) no-repeat top center; }
.Fleet a              { background: url(/resources/img/EAMSIcons/fleet.svg) no-repeat top center; }
.Parks a              { background: url(/resources/img/EAMSIcons/parks.svg) no-repeat top center; }
.Electric a           { background: url(/resources/img/EAMSIcons/electric.svg) no-repeat top center; }
.Trees a              { background: url(/resources/img/EAMSIcons/trees.svg) no-repeat top center; }
.RefuseAndRecycling a { background: url(/resources/img/EAMSIcons/recycling.svg) no-repeat top center; }
.Environmental a      { background: url(/resources/img/EAMSIcons/environmental.svg) no-repeat top center; }






#SoftwareCommunity
{
    background-color: $lucity-blue-grey;
}

#SoftwareCommunity p
{
    padding: 40px 40px 40px 40px;
    font-size: 1.7em;
    font-weight: 600;
    color: $lucity-font-color-inverse;
}

#SoftwareCommunity:after
{
    margin: 0 -15px;
    display: block;
    content: ' ';
    height: 60px;
    @include verticalFade($lucity-blue-grey, $lucity-font-color-inverse);
}




#SoftwareAssetHighlights div.linkBox
{
    border: none;
    border-radius: 0;
    background-color: white;
}

#SoftwareAssetHighlights div.linkBox h3
{
    color: $lucity-blue-green;
}

#SoftwareAssetHighlights:after
{
    margin: 0 -15px;
    display: block;
    content: ' ';
    height: 60px;
    @include verticalFade($lucity-font-color-inverse, $lucity-blue-grey);
}




#SoftwareLearnMore
{
    background-color: $lucity-blue-grey;
}

#SoftwareLearnMore h1
{
    color: $lucity-font-color-inverse;
}

#SoftwareLearnMore ul
{
}

#SoftwareLearnMore ul li
{
    list-style-type: none;
    margin-bottom: 20px;
}


#SoftwareLearnMore ul li a
{
    position: relative;
    display: block;
    background-color: $lucity-green;
    border: 4px solid $lucity-green;
    height: 140px;
    width: 200px;
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

#SoftwareLearnMore ul li a img
{
    height: 132px;
    width: 190px;
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}

#SoftwareLearnMore ul li span.caption
{
    display: block;
    position: absolute;
    top: 86px;
    left: 0px;
    width: 240px;
    background-color: $lucity-green;
    font-size: 20px;
    padding: 6px 0 2px 8px;
    font-weight: 600;
    color: $lucity-blue-grey;
    border-right: 10px solid $lucity-blue-grey;
}


