/* Software GIS */
#SoftwareGIS {

    p.configure,
    p.shared,
    div.attributes p {
        padding: 16px 10%;
        margin: 0;
        font-size: 1.9em;
        font-weight: 600;
        color: $lucity-blue-grey;
        text-align: center;
    }

    p.configure:after {
        display: block;
        content: "";
        padding: 16px 10%;
        margin: 0 25% 0 25%;
        border-bottom: 3px solid $lucity-dark-orange;
    }

    div.attributes {
        background: url("/resources/img/Software/GISTower.png") no-repeat center 0px;
        background-size: contain;

        p {
            display: inline-block;
            font-size: 1.4em;
            margin: 16px 0;
        }

        p:first-child {
            text-align: right;
            padding: 0 55px 0 0;
            width: 48%;
        }

        p:last-child {
            text-align: left;
            padding: 0 0 0 76px;
            width: 50%;
        }
    }

    p.shared {
        position: relative;
        clear: both;
        text-transform: lowercase;
        font-family: $lucity-font-header;
        font-size: 1.8em;
        line-height: 1.2em;
        margin: 10px 0;
        padding: 0 60px;
    }

    p.shared:before {
        content: "";
        background: url("/resources/img/BracketGreaterThan.svg") no-repeat left center;
        left: 0px;
    }

    p.shared:after {
        content: "";
        background: url("/resources/img/BracketLessThan.svg") no-repeat right center;
        right: 0px;
    }

    p.shared:before,
    p.shared:after {
        display: block;
        position: absolute;
        top: 0;
        width: 70px;
        height: 100%;
        background-size: 80px 60px;
    }


    h1.gisHighlights {
        margin-top: 100px;
    }

    .ESRI {
        display: block;
        position: relative;
        height: 320px;
    }

    .ESRI p {
        display: block;
        position: absolute;
        font-size: 2em;
        text-align: right;
        top: 70px;
        right: 190px;
        width: 420px;
        height: 150px;
        padding: 16px 40px 16px 26px;
        background-color: $lucity-blue-grey;
        color: $lucity-font-color-inverse;
        font-size: 1.6em;
        font-weight: 400;
        text-transform: lowercase;
        line-height: 1.3em;
        font-family: $lucity-font-header;
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;
    }

    .ESRI:after {
        content: "";
        position: absolute;
        top: 20px;
        right: 20px;
        width: 180px;
        height: 270px;
        background: white url('/resources/img/Software/V_esriPartnerNet-gold_sRGB.png') no-repeat top center;
        background-size: contain;
        border: 4px solid $lucity-dark-green;
        border-radius: 100px;
    }
}

@media only screen and (max-device-width: 736px) {
    #SoftwareGIS {
        div.attributes {
            p {
                font-size: 1.1em;
                margin: 2px 0;
            }

            p:first-child {
                padding: 0 34px 0 0;
            }

            p:last-child {
                padding: 0 0 0 48px;
            }
        }

        p.shared {
            font-size: 1em;
        }

        .ESRI {
            height: 160px;
        }

        .ESRI p {
            font-size: 1.2em;
            top: 40px;
            right: 20%;
            width: 220px;
            height: 110px;
        }

        .ESRI:after {
            right: 0;
            width: 90px;
            height: 145px;
        }
    }
}
