/* Software MMS */

#SoftwareMMS {
    text-align: center;
    margin-bottom: 40px;

    h1 {
        text-align: left;
    }

    p {
        padding: 0 40px 40px 40px;
        font-size: 1.4em;
        font-weight: 600;
        color: $lucity-blue-grey;
        text-align: center;
    }

    div.row div {
        position: relative;
        display: block;
        height: 240px;
        background-size: cover;
        border-left: 20px solid white;
        border-right: 20px solid white;
        border-top: 1px solid white;
        z-index: 1;

        h2 {
            display: none;
            font-size: 2.7em;
        }

        p {
            display: none;
            font-size: 1.6em;
            font-weight: 600;
            color: $lucity-blue-grey;
            text-align: center;
            padding-right: 14%;
            padding-left: 14%;
        }
    }

    div.row div:hover {
        h2, p {
            position: relative;
            display: block;
            z-index: 3;
        }

        span {
            content: "";
            background-color: white;
            opacity: 0.6;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            position: absolute;
            display: block;
            z-index: 2;
        }
    }

    #MMSWorkOrders {
        background: url(/resources/img/Software/Work/WorkOrders.png) center center no-repeat;
    }

    #MMSRequests {
        background: url(/resources/img/Software/Work/Requests.png) center center no-repeat;
    }

    #MMSScheduling {
        background: url(/resources/img/Software/Work/Scheduling.png) center center no-repeat;
    }

    #MMSInventory {
        background: url(/resources/img/Software/Work/Inventory.png) center center no-repeat;
    }
}

@media only screen and (max-device-width: 736px) {
    #SoftwareMMS {
        div.row div p {
            font-size: 1.3em;
            padding-right: 10%;
            padding-left: 10%;
        }

        #MMSRequests {
            background: url(/resources/img/Software/Work/Requests.png) -200px center no-repeat;
        }
    }
}
