/*_home.scss*/
@import '_talkinghead';
@import '_blogs';
@import '_software';
@import '_calendar';

#WeHearYou {
  background: $lucity-orange url(../img/Ear.png) no-repeat top left;
  background-size: contain;
}

#WeHearYou .jumbotron {
  border-radius: 0;
  background-color: transparent;
  padding-left: 50%;
}

#WeHearYou .jumbotron
{
  font-weight: 300;
  color: #ffffff;
}

#WeHearYou .jumbotron h1
{
  font-size: 2em;
}

#WeHearYou .jumbotron p
{
  font-size: 1.6em;
  color: #ffffff;
}

#WeHearYou .jumbotron a
{
  color: white;
}

