/*Lucity.scss*/
@import url("http://fonts.googleapis.com/css?family=Josefin+Sans");
@import url("https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,700");
/*_constants.scss*/
/*_transitions.scss*/
/*_global.scss*/
a {
  -webkit-transition: all .3s;
  transition: all .3s;
  color: #4f5c73; }

a:hover {
  text-decoration: none; }

h1, h2, h3, h4, h5 {
  font-family: "Montserrat Alternates", sans-serif;
  color: #4f5c73;
  font-style: normal;
  letter-spacing: -0.025em;
  text-transform: lowercase; }

h1, h2 {
  padding: .2em 0;
  line-height: 1.2; }

h1 {
  font-size: 40px; }

@media only screen and (max-device-width: 480px) {
  h1 {
    margin-top: 10px;
    font-size: 3em; } }
.noTextTransform {
  text-transform: none !important; }

body, p, span, div {
  font-family: "Josefin Sans", serif;
  color: #878e83; }

body {
  background-color: white;
  font-size: 130%;
  line-height: 1.4;
  padding-top: 114px;
  min-width: 640px; }

#primaryNav {
  width: 100%; }

#primaryNav:after {
  display: block;
  content: "";
  padding-top: 11px;
  border-top: 1px solid #99cc33;
  background: url(/resources/img/colorbar.svg) repeat-x; }

nav.navbar {
  font-size: 1.1em; }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  body {
    font-size: 150%;
    line-height: 1.4;
    padding-top: 140px; }

  nav.navbar {
    font-size: 1em; } }
/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  html {
    margin: 0 auto;
    max-width: 1100px; }

  body {
    font-size: 170%;
    line-height: 1.4; }

  nav.navbar {
    font-size: 1em; }

  .pull-right-md {
    float: right; } }
/* Limit width at 1100px */
@media only screen and (min-width: 1100px) {
  html {
    margin: 0 auto;
    max-width: 1100px;
    background-color: #555555; }

  body {
    -webkit-box-shadow: 0px 0px 39px 5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 39px 5px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 39px 5px rgba(0, 0, 0, 0.75); }

  nav.navbar {
    margin: 0 auto;
    max-width: 1100px; } }
@media only screen and (max-device-width: 736px) {
  body {
    min-width: 0; } }
.aspect-ratio {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 51%; }

.aspect-ratio iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0; }

.navbar {
  background-color: #ffffff; }

.navbar .container {
  border-bottom: 1px solid #99cc33;
  background-color: white; }

.navbar-default .navbar-nav > li > a {
  font-family: "Josefin Sans", serif;
  font-size: 1.8em;
  color: #ff9933; }

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #ff6600;
  text-shadow: #555555 0.1em 0.1em 0.3em; }

.navbar-header a.logo {
  height: 50px;
  width: 200px;
  margin-left: 10px;
  background-size: 100% 100%; }

@media (min-width: 700px) {
  .navbar .navbar-header a.logo {
    height: 86px;
    width: 200px;
    background: url(../img/LucityLogo.svg) top left no-repeat; }

  .navbar #navbar {
    padding-top: 40px; } }
@media (min-width: 884px) {
  .navbar .navbar-header a.logo {
    height: 86px;
    width: 330px;
    background: url(../img/LogoTag.svg) top left no-repeat; }

  .navbar #navbar {
    padding-top: 40px; } }
@media (max-width: 767px) {
  .navbar .navbar-header a.logo {
    height: 48px;
    width: 350px;
    background: url(../img/LogoTagMobile.svg) top left no-repeat; }

  .navbar-default .navbar-nav > li > a:focus,
  .navbar-default .navbar-nav > li > a:hover {
    background-color: #cccccc; } }
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent; }

.dropdown-menu > li > a {
  font-size: 16px; }

.dropdown-menu > li > a:hover {
  background-color: #ff9933;
  background-image: none; }

html.no-smil .navbar-fixed-top {
  right: auto;
  left: auto; }

div.pageTitle {
  color: #446644;
  text-transform: lowercase;
  font-size: 1.2em;
  font-weight: 400;
  font-family: "Josefin Sans", serif;
  margin-top: -10px;
  padding-left: 70px; }

#MainSearch {
  background-color: #99cc33;
  padding-top: 6px;
  padding-bottom: 6px;
  border-top: 4px solid #99cc33;
  border-bottom: 1px solid #ffffff; }

#Footer {
  padding-top: 11px;
  border-top: 1px solid #99cc33;
  background: url(/resources/img/colorbar.svg) repeat-x; }
  #Footer .FollowUs, #Footer .MeetUs {
    border: 16px solid white;
    line-height: 1.6;
    padding-left: 4.5em;
    padding-bottom: 10px;
    background-color: #99cc33; }
  #Footer .FollowUs {
    padding-bottom: 14px;
    border-right: 8px solid white; }
  #Footer .MeetUs {
    border-left: 8px solid white; }
  #Footer a {
    display: block;
    padding-bottom: 8px;
    -webkit-transition: all .3s;
    transition: all .3s;
    font-size: 1.1em;
    color: #666666; }
  #Footer .fa-stack {
    margin-right: 12px; }
  #Footer .fa-2x {
    font-size: 1.5em; }
  #Footer .fa-inverse {
    color: white; }
  #Footer a:hover .fa-stack-2x {
    -webkit-transition: all .3s;
    transition: all .3s;
    color: #666666; }
  #Footer a .fa-stack-2x {
    -webkit-transition: all .3s;
    transition: all .3s;
    color: #878e83; }

@media only screen and (max-width: 768px) {
  #Footer div.row div.FollowUs {
    border-right: 16px solid white;
    border-bottom: 8px solid white; }

  #Footer div.row div.MeetUs {
    border-left: 16px solid white;
    border-top: 8px solid white; } }
@media only screen and (max-width: 768px) {
  #Footer div.row div {
    padding-left: 128px; }

  #Footer a {
    font-size: 1.5em; } }
@media only screen and (max-device-width: 768px) {
  #Footer div.row div {
    padding-left: 3em; }

  #Footer a {
    font-size: 1.3em; } }
.LearnMore {
  background-color: #4f5c73; }
  .LearnMore h1 {
    color: #ffffff; }
  .LearnMore ul li {
    list-style-type: none;
    margin-bottom: 20px; }
  .LearnMore ul li a {
    position: relative;
    display: block;
    background-color: #99cc33;
    border: 4px solid #99cc33;
    height: 140px;
    width: 200px;
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); }
  .LearnMore ul li a img {
    height: 132px;
    width: 190px;
    -webkit-clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
    clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%); }
  .LearnMore ul li span.caption {
    display: block;
    position: absolute;
    top: 86px;
    left: 0px;
    width: 240px;
    background-color: #99cc33;
    font-size: 20px;
    padding: 6px 0 2px 8px;
    font-weight: 600;
    color: #4f5c73;
    border-right: 10px solid #4f5c73; }

/*_home.scss*/
/*_talkinghead.scss*/
#Testimonials blockquote {
  border: none;
  margin-bottom: 0;
  background: url(../img/quotebox.svg) no-repeat bottom left;
  background-size: 100% 100%;
  color: white;
  font-size: 1.1em;
  font-weight: 400;
  margin: -60px 0 20px 300px;
  padding: 50px 30px 70px 40px;
  font-size: 18px;
  font-weight: 400; }
  #Testimonials blockquote p {
    color: white;
    text-align: center;
    font-weight: 300;
    font-family: inherit; }
  #Testimonials blockquote footer {
    text-align: right;
    font-family: inherit; }
    #Testimonials blockquote footer cite {
      padding-right: 20px; }
  #Testimonials blockquote footer,
  #Testimonials blockquote footer cite,
  #Testimonials blockquote footer cite span {
    color: white;
    font-style: normal;
    font-weight: 400; }
  #Testimonials blockquote footer:before {
    content: '\7E';
    font-weight: 400; }
#Testimonials .quote, #Testimonials blockquote {
  border: thin transparent solid; }
#Testimonials h1 {
  font-size: 3em; }
#Testimonials .quote {
  min-height: 200px;
  margin-top: -20px; }

@media only screen and (min-width: 768px) {
  #Testimonials h1 {
    font-size: 3.5em; }
  #Testimonials .quote {
    min-height: 200px;
    margin-top: -30px; }
  #Testimonials blockquote {
    margin: -50px 0 20px 350px;
    padding: 60px 40px 80px 40px;
    font-size: 20px;
    font-weight: 400; } }
@media only screen and (min-width: 992px) {
  #Testimonials h1 {
    font-size: 4em; }
  #Testimonials .quote {
    min-height: 300px;
    margin-top: -30px; }
  #Testimonials blockquote {
    margin: -60px 0 20px 475px;
    padding: 70px 50px 90px 50px;
    font-size: 24px;
    font-weight: 500; } }
@media only screen and (min-width: 1200px) {
  #Testimonials h1 {
    font-size: 4em; }
  #Testimonials .quote {
    min-height: 400px;
    margin-top: -30px; }
  #Testimonials blockquote {
    margin: -60px 0 40px 520px;
    padding: 80px 60px 96px 60px;
    font-size: 26px;
    font-weight: 600; } }
@media only screen and (max-device-width: 736px) {
  #Testimonials .quote {
    min-height: 200px; }
  #Testimonials blockquote {
    margin: 0 0 220px 0;
    padding: 50px 30px 70px 40px;
    font-size: 18px;
    font-weight: 400; } }
/*_blogs.scss*/
#Blog {
  padding-top: 11px;
  border-top: 1px solid white;
  background: url(/resources/img/colorbar.svg) repeat-x; }

#Blog {
  background-color: #4f5c73; }
  #Blog h1 {
    color: #eeeeee; }
  #Blog div.entries h1, #Blog div.entries h2, #Blog div.entries h3, #Blog div.entries h4, #Blog div.entries h5, #Blog div.entries h6 {
    color: #eeeeee;
    font-family: "Josefin Sans", serif;
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.025em;
    text-transform: none !important; }
  #Blog div.entries div, #Blog div.entries span, #Blog div.entries p, #Blog div.entries a, #Blog div.entries strong, #Blog div.entries ul, #Blog div.entries li, #Blog div.entries dl, #Blog div.entries dt, #Blog div.entries dd {
    color: #eeeeee;
    font-family: "Josefin Sans", serif;
    font-style: normal;
    font-weight: 300;
    letter-spacing: -0.025em; }

#Blog a {
  color: white;
  text-decoration: underline; }

#Blog div.row {
  background-color: #4f5c73;
  padding-top: 10px;
  padding-bottom: 20px; }

#Blog div.row dl {
  display: block;
  height: 80px;
  margin-top: 30px; }

#Blog div.row dl dt {
  float: left;
  background-size: 60px 70px;
  background: url(../img/BoxArrowRight.svg) no-repeat;
  display: block;
  height: 100px;
  width: 70px;
  padding: 0;
  margin: 0;
  text-align: center; }

#Blog div.row dl dt span {
  display: block;
  padding: 0;
  margin: 0 0 0 -20px;
  font-weight: 300; }

/* Style the numeric day */
#Blog div.row dl dt span {
  font-family: "Josefin Sans", serif;
  font-size: 32px;
  line-height: 28px; }

/* Style the month name */
#Blog div.row dl dt span:first-of-type {
  font-size: 22px;
  line-height: 24px; }

#Blog div.row dl dd h3 {
  font-size: 1.7em; }

#Blog div.row dl dd {
  font-size: .9em; }

#Blog .firstEntry {
  padding-bottom: 0; }

#Blog .firstEntry .entry {
  position: relative;
  height: 240px;
  overflow: hidden;
  padding-bottom: 0; }

#Blog .firstEntry .entry:after {
  content: "";
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(79, 92, 115, 0), #4f5c73 100%);
  width: 100%;
  height: 4em; }

#Blog .firstEntry h2 img {
  display: block;
  width: auto;
  height: 80px; }

#Blog .firstEntry .readMore {
  text-align: right; }

#Blog .remainingEntries .snippetTitle {
  font-size: 1.4em; }
#Blog .remainingEntries .snippet {
  font-size: 1em; }

/*_software.scss*/
#Software {
  padding-top: 20px;
  border-top: 1px solid white;
  background: url(/resources/img/colorbar.svg) repeat-x; }
  #Software h1:first-child {
    padding-bottom: 0;
    margin-bottom: 0; }
  #Software p {
    padding-bottom: 30px;
    font-size: 1.4em; }

#Software div.EAMS {
  background-color: #99cc33;
  color: white;
  border-left: 1em solid white;
  border-right: 1em solid white;
  border-bottom: 1em solid white;
  height: 14em;
  line-height: 1.2; }

#Software div.EAMS a {
  color: white; }

@media only screen and (max-width: 768px), only screen and (max-device-width: 480px) {
  #Software div.EAMS.assets,
  #Software div.EAMS.work {
    margin-bottom: 60px; }

  #Software div.EAMS.assets {
    border-left: 1em solid white;
    border-right: .5em solid white; }

  #Software div.EAMS.work {
    border-left: .5em solid white;
    border-right: 1em solid white; }

  #Software div.EAMS.gis {
    border-left: 1em solid white;
    border-right: .5em solid white; }

  #Software div.EAMS.general {
    border-left: .5em solid white;
    border-right: 1em solid white; } }
@media only screen and (min-width: 768px) {
  #Software div.EAMS.assets,
  #Software div.EAMS.work {
    margin-bottom: 10px; }

  #Software div.EAMS.assets {
    border-left: 2em solid white;
    border-right: 1em solid white; }

  #Software div.EAMS.work {
    border-left: 1em solid white;
    border-right: 1em solid white; }

  #Software div.EAMS.gis {
    border-left: 1em solid white;
    border-right: 1em solid white; }

  #Software div.EAMS.general {
    border-left: 1em solid white;
    border-right: 2em solid white; } }
#Software div.EAMS.assets {
  background-color: #ff9933; }

#Software div.EAMS.work {
  background-color: #99cc33; }

#Software div.EAMS.gis {
  background-color: #137866; }

#Software div.EAMS.general {
  background-color: #78A22D; }

#Software div.EAMS a {
  display: block;
  margin-top: -50px;
  height: 100px; }

#Software div.EAMS a img {
  display: block;
  height: 100%;
  width: 100%; }

#Software div.row {
  margin-top: 50px;
  text-align: center; }

#Software div.EAMS h2 {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: lowercase;
  text-align: center;
  font-size: 2.4em;
  opacity: 0.85; }

#Software div ul {
  opacity: 0.85;
  text-align: center;
  list-style-type: none;
  -webkit-padding-start: 0px;
  font-size: 1.2em;
  margin: 0;
  padding: 0; }

#Calendar {
  padding-top: 11px;
  border-top: 1px solid white;
  background: url(/resources/img/colorbar.svg) repeat-x;
  padding-bottom: 16px; }
  #Calendar #Events {
    padding-top: 20px;
    padding-bottom: 20px; }
    #Calendar #Events ul {
      list-style-type: none; }
    #Calendar #Events li {
      clear: both;
      height: 100px; }
      #Calendar #Events li span.title {
        display: inline-block;
        font-weight: 600;
        color: #4f5c73;
        padding: 30px 0 0 0; }
      #Calendar #Events li div.date {
        display: inline-block;
        float: left;
        height: 85px;
        width: 85px;
        background-color: #ff9933;
        border: 1px solid #878e83;
        margin: 10px;
        padding: 6px;
        text-align: center;
        padding: 12px 0 0 0; }
        #Calendar #Events li div.date span {
          color: #ffffff;
          display: block;
          margin: 0 0 0 0;
          padding: 0 0 0 0; }
        #Calendar #Events li div.date span.month {
          font-size: 1.2em; }
        #Calendar #Events li div.date span.days {
          font-size: 1.4em; }
  #Calendar #Training {
    margin: 30px 0 0 0;
    padding: 0 0 0 0;
    border-right: 18px solid white; }
    #Calendar #Training ul {
      display: block;
      background: url(/resources/img/univercity.svg) center top no-repeat;
      background-size: contain;
      margin: 0 60px 0 60px;
      padding: 80px 0 0 0;
      list-style-type: none; }
    #Calendar #Training li {
      display: block;
      text-align: center;
      height: 120px; }
      #Calendar #Training li span.title {
        display: inline-block;
        font-size: 1.2em;
        font-weight: 600;
        color: #4f5c73;
        padding: 30px 0 0 0; }
    #Calendar #Training ul:before,
    #Calendar #Training ul:after {
      display: block;
      position: absolute;
      margin: 0 0 0 0;
      padding: 0 30px 0 30px;
      top: 0px;
      width: 60px;
      height: 100%; }
    #Calendar #Training ul:before {
      content: " ";
      background: url(/resources/img/bracketleft.svg) top left no-repeat;
      left: 0px;
      background-size: cover; }
    #Calendar #Training ul:after {
      content: " ";
      background: url(/resources/img/bracketright.svg) top right no-repeat;
      right: 0px;
      background-size: cover; }

@media only screen and (max-device-width: 736px), screen and (max-width: 768px) {
  #Calendar #Training {
    border-left: 18px solid white;
    border-right: 18px solid white; }
    #Calendar #Training ul {
      padding: 46px 0 0 0; } }
@media only screen and (max-device-width: 400px), screen and (max-width: 400px) {
  #Calendar #Events {
    padding-left: 6px;
    padding-right: 6px; }

  #Calendar #Events ul {
    padding-left: 6px; } }
#EventsPage {
  margin-bottom: 30px; }
  #EventsPage #Events div.date {
    background-color: #ff9933; }
  #EventsPage #UserGroups div.date {
    background-color: #137866; }
  #EventsPage #Training div.date {
    background-color: #78A22D; }
  #EventsPage ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-size: 17px; }
    #EventsPage ul li {
      margin: 6px 0;
      padding: 0; }
      #EventsPage ul li div.event {
        display: block;
        height: 95px;
        margin: 0;
        padding: 0;
        border: 1px solid #666666;
        background-color: #eeeeee; }
        #EventsPage ul li div.event div.date {
          display: inline-block;
          float: left;
          height: 93px;
          width: 93px;
          margin: 0 6px 0 0;
          padding: 6px;
          text-align: center;
          padding: 17px 0 0 0; }
          #EventsPage ul li div.event div.date span {
            color: #ffffff;
            display: block;
            margin: 0 0 0 0;
            padding: 0 0 0 0; }
          #EventsPage ul li div.event div.date span.month {
            font-size: 1.2em; }
          #EventsPage ul li div.event div.date span.days {
            font-size: 1.4em; }
        #EventsPage ul li div.event div.title {
          margin-top: 4px;
          font-size: .9em;
          color: #4f5c73;
          font-weight: 700; }
        #EventsPage ul li div.event div.location {
          font-size: .9em;
          color: #4f5c73; }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  #EventsPage ul li div.event {
    margin: 0; } }
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  #EventsPage ul li div.event {
    margin: 0 16px 0 0; } }
#WeHearYou {
  background: #ff9933 url(../img/Ear.png) no-repeat top left;
  background-size: contain; }
  #WeHearYou .jumbotron {
    border-radius: 0;
    background-color: transparent;
    padding-left: 50%;
    font-weight: 300;
    color: #ffffff; }
    #WeHearYou .jumbotron h1 {
      font-size: 2em; }
    #WeHearYou .jumbotron p {
      font-size: 1.6em;
      color: #ffffff; }
    #WeHearYou .jumbotron a {
      color: white; }

/*_company.scss*/
#OurTeam .thumbs a {
  display: block;
  float: left;
  width: 166px;
  height: 230px;
  text-align: center;
  margin: 4px 10px; }
#OurTeam .thumbs figure img {
  background-size: cover;
  width: 130px;
  height: 130px;
  border: 1px solid #444444;
  border-radius: 8px;
  opacity: 0.5;
  filter: alpha(opacity=50);
  /* For IE8 and earlier */ }
#OurTeam .thumbs figure figcaption {
  margin-top: 4px;
  border-bottom: 3px solid #99cc33;
  color: #666666;
  font-weight: 600;
  font-size: 16px; }
#OurTeam .thumbs a:hover figure img {
  opacity: 1;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */ }
#OurTeam .thumbs div.title,
#OurTeam .thumbs div.email {
  font-size: 14px; }
#OurTeam .selected figure img {
  opacity: 1;
  filter: alpha(opacity=100);
  /* For IE8 and earlier */ }

#GetToKnowUs h1 {
  text-align: center;
  padding-bottom: 40px; }
#GetToKnowUs div.row div:nth-child(1),
#GetToKnowUs div.row div:nth-child(5) {
  background-color: #ff9933; }
#GetToKnowUs div.row div:nth-child(2),
#GetToKnowUs div.row div:nth-child(6) {
  background-color: #99cc33; }
#GetToKnowUs div.row div:nth-child(3),
#GetToKnowUs div.row div:nth-child(7) {
  background-color: #137866; }
#GetToKnowUs div.row div:nth-child(4),
#GetToKnowUs div.row div:nth-child(8) {
  background-color: #78A22D; }
#GetToKnowUs div.row div {
  background-color: #99cc33;
  color: white;
  border-left: 1em solid white;
  border-right: 1em solid white;
  border-bottom: 1em solid white;
  height: 11em;
  line-height: 1.2;
  margin-bottom: 60px; }
#GetToKnowUs div.row div a,
#GetToKnowUs div.row div span {
  display: block;
  margin-top: -50px;
  height: 100px; }
#GetToKnowUs div.row div a img,
#GetToKnowUs div.row div span img {
  display: block;
  height: 100%;
  width: 100%; }
#GetToKnowUs div.row {
  margin-top: 50px;
  text-align: center; }
#GetToKnowUs div.row div a h3,
#GetToKnowUs div.row div span h3 {
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 0;
  text-transform: lowercase;
  text-align: center;
  font-size: 1.3em;
  opacity: 0.85;
  padding-top: 10px; }

@media only screen and (max-width: 768px), only screen and (max-device-width: 480px) {
  #GetToKnowUs div.row div {
    border-left: 4em solid white;
    border-right: 4em solid white; } }
@media only screen and (min-width: 768px) {
  #GetToKnowUs div.row div:nth-child(1),
  #GetToKnowUs div.row div:nth-child(5) {
    border-left: 0; }

  #GetToKnowUs div.row div:nth-child(4),
  #GetToKnowUs div.row div:nth-child(8) {
    border-right: 0; } }
#CompanyWhyLucity {
  position: relative; }
  #CompanyWhyLucity div {
    z-index: 2;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    padding-top: 10%;
    padding-right: 20px;
    background: url(/resources/img/Company/icons/movie.svg) no-repeat 97% 95%;
    background-size: 80px 80px;
    -webkit-stroke-width: 5.3px;
    -webkit-stroke-color: white;
    -webkit-fill-color: white;
    text-shadow: 0px 0px 10px white;
    -webkit-transition: width 0.3s;
    /*Safari & Chrome*/
    transition: width 0.3s;
    -moz-transition: width 0.3s;
    /* Firefox 4 */
    -o-transition: width 0.3s;
    /* Opera */ }
    #CompanyWhyLucity div h2 {
      color: #4f5c73;
      font-size: 2.4em;
      padding-bottom: 0;
      -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: white;
      -webkit-fill-color: white;
      text-shadow: 0px 0px 10px white;
      -webkit-transition: width 0.3s;
      /*Safari & Chrome*/
      transition: width 0.3s;
      -moz-transition: width 0.3s;
      /* Firefox 4 */
      -o-transition: width 0.3s;
      /* Opera */ }
    #CompanyWhyLucity div p {
      color: #4f5c73;
      font-size: 1.8em;
      line-height: 1.2;
      padding-top: 0;
      font-weight: 600;
      -webkit-stroke-width: 5.3px;
      -webkit-stroke-color: white;
      -webkit-fill-color: white;
      text-shadow: 0px 0px 10px white;
      -webkit-transition: width 0.3s;
      /*Safari & Chrome*/
      transition: width 0.3s;
      -moz-transition: width 0.3s;
      /* Firefox 4 */
      -o-transition: width 0.3s;
      /* Opera */ }
  #CompanyWhyLucity iframe.faded {
    opacity: 0.4;
    filter: alpha(opacity=40);
    /* For IE8 and earlier */ }

#TakeALookAtLucity p {
  color: #4f5c73;
  font-size: 1.4em; }

/* Software */
/* Software Home */
#SoftwareHome p.proven,
#SoftwareHome p.versatile,
#SoftwareHome p.complementary {
  padding: 0 10% 0 10%;
  font-size: 1.9em;
  font-weight: 600;
  color: #4f5c73;
  text-align: center; }
#SoftwareHome p.proven:after,
#SoftwareHome p.versatile:after {
  display: block;
  content: "";
  margin: 18px 25% 0 25%;
  border-bottom: 3px solid #ff6600; }
#SoftwareHome #SoftwareList {
  display: block;
  position: relative;
  height: 500px;
  background: #4f5c73;
  /* Old browsers */
  background: -moz-linear-gradient(top, #4f5c73 0%, #4f5c73 51%, #ffffff 72%, #ffffff 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #4f5c73 0%, #4f5c73 51%, #ffffff 72%, #ffffff 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #4f5c73 0%, #4f5c73 51%, #ffffff 72%, #ffffff 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$lucity-blue-grey', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */ }
  #SoftwareHome #SoftwareList h2 {
    color: #ffffff;
    font-size: 2em;
    margin-top: 0; }
  #SoftwareHome #SoftwareList h2 a {
    color: #ffffff; }
  #SoftwareHome #SoftwareList ul li {
    list-style-type: none;
    color: #ffffff;
    font-size: 1em;
    line-height: 1.8em; }
  #SoftwareHome #SoftwareList #Assets,
  #SoftwareHome #SoftwareList #Work,
  #SoftwareHome #SoftwareList #GIS,
  #SoftwareHome #SoftwareList #Mobile,
  #SoftwareHome #SoftwareList #CitizenPortal {
    display: block;
    position: absolute;
    border-radius: 20px;
    padding: 10px 10px 20px 20px; }
  #SoftwareHome #SoftwareList #Assets {
    background-color: #ff9933;
    top: 100px;
    left: 4%;
    width: 50%; }
  #SoftwareHome #SoftwareList #Work {
    background-color: #99cc33;
    top: 40px;
    left: 50%;
    width: 24%;
    padding-bottom: 50px; }
  #SoftwareHome #SoftwareList #GIS {
    background-color: #99cc33;
    top: 210px;
    left: 75%;
    width: 19%; }
  #SoftwareHome #SoftwareList #Mobile {
    background-color: #ff9933;
    top: 280px;
    left: 60%;
    width: 17%; }
  #SoftwareHome #SoftwareList #CitizenPortal {
    background-color: #137866;
    top: 60px;
    left: 70%;
    width: 26%; }
#SoftwareHome #SoftwareList:after {
  content: "";
  position: absolute;
  top: 300px;
  right: 3%;
  width: 8%;
  height: 140px;
  background: white url("/resources/img/Software/V_esriPartnerNet-gold_sRGB.png") no-repeat top center;
  background-size: contain;
  border: 4px solid #78A22D;
  border-radius: 100px; }

/* Software EAMS */
#SoftwareEAMS {
  padding-top: 11px;
  border-top: 1px solid white;
  background: url(/resources/img/colorbar.svg) repeat-x; }
  #SoftwareEAMS p {
    padding: 0 40px 20px 40px;
    font-size: 1.3em;
    font-weight: 600;
    color: #4f5c73; }
  #SoftwareEAMS div.assetTypes {
    background-color: #99cc33;
    padding-top: 40px; }
  #SoftwareEAMS div.assetTypes div {
    position: relative;
    text-align: center;
    margin: 0 0 40px 0;
    padding: 0; }
  #SoftwareEAMS div.assetTypes div span {
    position: relative;
    display: block;
    padding: 100px 0 0 0;
    text-align: center;
    margin: 0;
    width: 100%;
    text-decoration: none;
    text-transform: lowercase;
    font-size: 1.3em;
    font-weight: 400;
    color: #4f5c73;
    font-family: "Montserrat Alternates", sans-serif;
    background-size: 90px; }
  #SoftwareEAMS .Water span {
    background: url(/resources/img/EAMSIcons/water.svg) no-repeat top center; }
  #SoftwareEAMS .Sewer span {
    background: url(/resources/img/EAMSIcons/sewer.svg) no-repeat top center; }
  #SoftwareEAMS .Storm span {
    background: url(/resources/img/EAMSIcons/storm.svg) no-repeat top center; }
  #SoftwareEAMS .Facilities span {
    background: url(/resources/img/EAMSIcons/facilities.svg) no-repeat top center; }
  #SoftwareEAMS .Signs span {
    background: url(/resources/img/EAMSIcons/signs.svg) no-repeat top center; }
  #SoftwareEAMS .StreetsAndRoads span {
    background: url(/resources/img/EAMSIcons/streetsandroads.svg) no-repeat top center; }
  #SoftwareEAMS .Bridges span {
    background: url(/resources/img/EAMSIcons/bridge.svg) no-repeat top center; }
  #SoftwareEAMS .RightsOfWay span {
    background: url(/resources/img/EAMSIcons/rightofway.svg) no-repeat top center; }
  #SoftwareEAMS .Pavement span {
    background: url(/resources/img/EAMSIcons/pavement.svg) no-repeat top center; }
  #SoftwareEAMS .Traffic span {
    background: url(/resources/img/EAMSIcons/traffic.svg) no-repeat top center; }
  #SoftwareEAMS .Signals span {
    background: url(/resources/img/EAMSIcons/signals.svg) no-repeat top center; }
  #SoftwareEAMS .StreetLights span {
    background: url(/resources/img/EAMSIcons/streetlights.svg) no-repeat top center; }
  #SoftwareEAMS .Equipment span {
    background: url(/resources/img/EAMSIcons/equipment.svg) no-repeat top center; }
  #SoftwareEAMS .Fleet span {
    background: url(/resources/img/EAMSIcons/fleet.svg) no-repeat top center; }
  #SoftwareEAMS .Parks span {
    background: url(/resources/img/EAMSIcons/parks.svg) no-repeat top center; }
  #SoftwareEAMS .Electric span {
    background: url(/resources/img/EAMSIcons/electric.svg) no-repeat top center; }
  #SoftwareEAMS .Trees span {
    background: url(/resources/img/EAMSIcons/trees.svg) no-repeat top center; }
  #SoftwareEAMS .RefuseAndRecycling span {
    background: url(/resources/img/EAMSIcons/recycling.svg) no-repeat top center; }
  #SoftwareEAMS .Environmental span {
    background: url(/resources/img/EAMSIcons/environmental.svg) no-repeat top center; }
  #SoftwareEAMS .Plant span {
    background: url(/resources/img/EAMSIcons/plant.svg) no-repeat top center; }

#SoftwareCommunity {
  padding-top: 11px;
  border-top: 1px solid #99cc33;
  background: url(/resources/img/colorbar.svg) repeat-x;
  background-color: #4f5c73;
  margin: 0 -15px; }
  #SoftwareCommunity p {
    font-size: 1.7em;
    font-weight: 600;
    color: #ffffff; }
  #SoftwareCommunity h1 {
    color: #ffffff; }

#SoftwareAssetHighlights {
  margin: 0 -15px; }
  #SoftwareAssetHighlights div.linkBox {
    border: none;
    border-radius: 0;
    background-color: white;
    margin-bottom: 0px; }
    #SoftwareAssetHighlights div.linkBox div {
      height: 280px;
      margin: 0;
      padding: 0; }
      #SoftwareAssetHighlights div.linkBox div h3 {
        opacity: 0.8;
        filter: alpha(opacity=80);
        /* For IE8 and earlier */
        margin: 0;
        padding: 10px 0 10px 0;
        margin-top: 80px;
        padding-bottom: 18px;
        color: #137866;
        background-color: #ffffff;
        text-align: center;
        font-size: 1.8em; }
      #SoftwareAssetHighlights div.linkBox div ul {
        opacity: 0.8;
        filter: alpha(opacity=80);
        /* For IE8 and earlier */
        margin: 0;
        padding: 0;
        background-color: #ffffff;
        height: 140px; }
      #SoftwareAssetHighlights div.linkBox div li {
        list-style-type: none;
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 1.1em;
        color: #4f5c73;
        font-weight: 600; }
    #SoftwareAssetHighlights div.linkBox .Sewer {
      background: url(/resources/img/Software/Assets/lucity_web_sm_sewer.png) no-repeat top left;
      background-size: cover; }
    #SoftwareAssetHighlights div.linkBox .Signs {
      background: url(/resources/img/Software/Assets/lucity_web_sm_signs.png) no-repeat top left;
      background-size: cover; }
    #SoftwareAssetHighlights div.linkBox .Storm {
      background: url(/resources/img/Software/Assets/lucity_web_sm_storm.png) no-repeat top left;
      background-size: cover; }
    #SoftwareAssetHighlights div.linkBox .Water {
      background: url(/resources/img/Software/Assets/lucity_web_sm_water.png) no-repeat top left;
      background-size: cover; }

/* Software General  */
#SoftwareGeneral #Software {
  margin: 0 -15px; }
  #SoftwareGeneral #Software h1 {
    margin-bottom: 20px; }
#SoftwareGeneral div.SoftwareSpecifics {
  margin-bottom: 40px; }
  #SoftwareGeneral div.SoftwareSpecifics div {
    height: 180px; }
    #SoftwareGeneral div.SoftwareSpecifics div h4 {
      margin-top: 120px;
      text-align: center; }
  #SoftwareGeneral div.SoftwareSpecifics div.Turnkey {
    background: url(/resources/img/Software/General/key.svg) no-repeat center 20px;
    background-size: 70px 70px; }
  #SoftwareGeneral div.SoftwareSpecifics div.Configurable {
    background: url(/resources/img/Software/General/wand.svg) no-repeat center 20px;
    background-size: 70px 70px; }
  #SoftwareGeneral div.SoftwareSpecifics div.Value {
    background: url(/resources/img/Software/General/flags.svg) no-repeat center 20px;
    background-size: 70px 70px; }
  #SoftwareGeneral div.SoftwareSpecifics div.Flexible {
    background: url(/resources/img/Software/General/bars.svg) no-repeat center 20px;
    background-size: 70px 70px; }
  #SoftwareGeneral div.SoftwareSpecifics div.Robust {
    background: url(/resources/img/Software/General/rocket.svg) no-repeat center 20px;
    background-size: 70px 70px; }
#SoftwareGeneral div.SoftwareOther {
  padding-top: 20px;
  border-top: 1px solid white;
  background: url(/resources/img/colorbar.svg) repeat-x;
  background-color: #99cc33; }
  #SoftwareGeneral div.SoftwareOther ul.Details {
    display: table;
    padding: 40px 0 40px 80px; }
    #SoftwareGeneral div.SoftwareOther ul.Details li {
      display: table-row;
      list-style-type: none;
      height: 100px;
      padding: 14px 10px 14px 0px; }
      #SoftwareGeneral div.SoftwareOther ul.Details li span {
        display: table-cell;
        vertical-align: middle;
        padding-left: 80px;
        color: #ffffff;
        font-size: 1.4em; }
    #SoftwareGeneral div.SoftwareOther ul.Details li.Integration {
      background: url(/resources/img/Software/General/integration.svg) no-repeat center left;
      background-size: 60px 60px; }
    #SoftwareGeneral div.SoftwareOther ul.Details li.Interfaces {
      background: url(/resources/img/Software/General/merge.svg) no-repeat center left;
      background-size: 60px 60px; }
    #SoftwareGeneral div.SoftwareOther ul.Details li.Reporting {
      background: url(/resources/img/Software/General/report.svg) no-repeat center left;
      background-size: 60px 60px; }
    #SoftwareGeneral div.SoftwareOther ul.Details li.Dell {
      background: url(/resources/img/Software/General/DellLogo.svg) no-repeat center left;
      background-size: 60px 60px; }
  #SoftwareGeneral div.SoftwareOther .ESRI span {
    display: block;
    position: relative; }
  #SoftwareGeneral div.SoftwareOther .ESRI span:after {
    content: "";
    position: absolute;
    top: 12px;
    left: 0px;
    width: 60px;
    height: 90px;
    background: white url("/resources/img/Software/V_esriPartnerNet-gold_sRGB.png") no-repeat top center;
    background-size: contain;
    border: 4px solid #78A22D;
    border-radius: 100px; }
  #SoftwareGeneral div.SoftwareOther div.MoreDetails div {
    background-color: #ffffff;
    margin: 10px 30px;
    border: 3px solid #ff9933;
    padding-bottom: 30px; }
    #SoftwareGeneral div.SoftwareOther div.MoreDetails div h4 {
      padding-top: 30px;
      color: #ff9933;
      font-size: 1.8em;
      text-align: center; }
    #SoftwareGeneral div.SoftwareOther div.MoreDetails div p {
      text-align: center; }
      #SoftwareGeneral div.SoftwareOther div.MoreDetails div p span {
        font-size: 1.2em;
        color: #137866;
        padding-left: 12px;
        background: url(/resources/img/MiniLucityPlusOrange.png) no-repeat center left; }
      #SoftwareGeneral div.SoftwareOther div.MoreDetails div p span:first-child {
        padding-left: 0;
        background: none; }
  #SoftwareGeneral div.SoftwareOther div.MoreDetails a.Requirements {
    display: block;
    margin-left: 30px;
    padding: 50px 50px 50px 108px;
    color: #4f5c73;
    font-size: 1.2em;
    background: url(/resources/img/Software/General/check.svg) no-repeat center left;
    background-size: 100px 100px; }
#SoftwareGeneral #Inspiration {
  margin: 30px; }
  #SoftwareGeneral #Inspiration h2 {
    margin: 0;
    padding: 0;
    font-size: 480%;
    font-weight: 400;
    color: #4f5c73;
    text-align: right; }
  #SoftwareGeneral #Inspiration p {
    margin: 0;
    padding: 0 0 0 16px;
    font-size: 190%;
    font-weight: 600;
    color: #4f5c73; }
#SoftwareGeneral #SoftwareWeHearYou {
  padding-left: 14%; }
  #SoftwareGeneral #SoftwareWeHearYou h2 {
    margin: 0;
    padding: 0;
    font-size: 300%;
    font-weight: 400;
    color: #ff9933; }
  #SoftwareGeneral #SoftwareWeHearYou p {
    margin: 0 0 20px 0;
    padding: 0;
    text-transform: lowercase;
    font-size: 210%;
    font-weight: 600;
    color: #ff9933; }
#SoftwareGeneral #WorkingAgencies {
  display: block;
  position: relative;
  height: 510px;
  margin: 20px;
  padding: 40px; }
  #SoftwareGeneral #WorkingAgencies h2 {
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 0;
    margin-top: 0px;
    margin-left: 20px;
    font-size: 280%;
    font-weight: 400;
    text-shadow: 0 0 0.1em #ffffff, 0 0 0.1em #ffffff, 0 0 0.1em #ffffff; }
  #SoftwareGeneral #WorkingAgencies p {
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 0;
    margin-left: 20px;
    text-transform: lowercase;
    font-size: 190%;
    font-weight: 600;
    color: #4f5c73;
    text-shadow: 0 0 0.1em #ffffff, 0 0 0.1em #ffffff, 0 0 0.1em #ffffff; }
  #SoftwareGeneral #WorkingAgencies #LucityClients {
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    border: 6px solid #99cc33;
    border-radius: 60px; }

/* Software GIS */
#SoftwareGIS p.configure,
#SoftwareGIS p.attributes,
#SoftwareGIS p.exclusively,
#SoftwareGIS p.shared {
  padding: 16px 10%;
  margin: 0;
  font-size: 1.9em;
  font-weight: 600;
  color: #4f5c73;
  text-align: center; }
#SoftwareGIS p.configure:after {
  display: block;
  content: "";
  padding: 16px 10%;
  margin: 0 25% 0 25%;
  border-bottom: 3px solid #ff6600; }
#SoftwareGIS p.attributes {
  font-size: 1.8em;
  padding: 16px 0 16px 10%;
  width: 48%;
  float: left; }
#SoftwareGIS p.exclusively {
  font-size: 1.8em;
  padding: 16px 10% 16px 0;
  width: 48%;
  float: right; }
#SoftwareGIS p.shared {
  position: relative;
  clear: both;
  height: 200px;
  text-transform: lowercase;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 2.6em;
  line-height: 1.3em;
  margin: 0 100px 0 100px;
  padding: 60px 0 0 0;
  background: url("/resources/img/Software/GISTower.png") no-repeat center 0px;
  background-size: contain; }
#SoftwareGIS p.shared:before {
  content: ">";
  left: -60px; }
#SoftwareGIS p.shared:after {
  content: "<";
  right: -60px; }
#SoftwareGIS p.shared:before,
#SoftwareGIS p.shared:after {
  position: absolute;
  top: 50px;
  height: 150px;
  line-height: 150px;
  margin: 0;
  padding: 0;
  color: #ff9933;
  font-size: 3.2em;
  font-weight: 100;
  font-family: sans-serif; }
#SoftwareGIS h1.gisHighlights {
  margin-top: 100px; }
#SoftwareGIS .ESRI {
  display: block;
  position: relative;
  height: 320px; }
#SoftwareGIS .ESRI p {
  display: block;
  position: absolute;
  font-size: 2em;
  text-align: right;
  top: 70px;
  right: 190px;
  width: 420px;
  height: 150px;
  padding: 16px 40px 16px 26px;
  background-color: #4f5c73;
  color: #ffffff;
  font-size: 1.6em;
  font-weight: 400;
  text-transform: lowercase;
  line-height: 1.3em;
  font-family: "Montserrat Alternates", sans-serif; }
#SoftwareGIS .ESRI:after {
  content: "";
  position: absolute;
  top: 20px;
  right: 20px;
  width: 180px;
  height: 270px;
  background: white url("/resources/img/Software/V_esriPartnerNet-gold_sRGB.png") no-repeat top center;
  background-size: contain;
  border: 4px solid #78A22D;
  border-radius: 100px; }

/* Software MMS */
#SoftwareMMS {
  padding-top: 11px;
  border-top: 1px solid white;
  background: url(/resources/img/colorbar.svg) repeat-x;
  text-align: center;
  margin-bottom: 40px; }
  #SoftwareMMS h1 {
    text-align: left; }
  #SoftwareMMS p {
    padding: 0 40px 40px 40px;
    font-size: 1.4em;
    font-weight: 600;
    color: #4f5c73;
    text-align: center; }
  #SoftwareMMS div.row div {
    position: relative;
    display: block;
    height: 240px;
    background-size: cover;
    border-left: 20px solid white;
    border-right: 20px solid white;
    border-top: 1px solid white;
    z-index: 1; }
    #SoftwareMMS div.row div h2 {
      display: none;
      font-size: 2.7em; }
    #SoftwareMMS div.row div p {
      display: none;
      font-size: 1.6em;
      font-weight: 600;
      color: #4f5c73;
      text-align: center;
      padding-right: 20%;
      padding-left: 20%; }
  #SoftwareMMS div.row div:hover h2, #SoftwareMMS div.row div:hover p {
    position: relative;
    display: block;
    z-index: 3; }
  #SoftwareMMS div.row div:hover span {
    content: "";
    background-color: white;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    display: block;
    z-index: 2; }
  #SoftwareMMS #MMSWorkOrders {
    background: url(/resources/img/Software/Work/WorkOrders.png) center center no-repeat; }
  #SoftwareMMS #MMSRequests {
    background: url(/resources/img/Software/Work/Requests.png) center center no-repeat; }
  #SoftwareMMS #MMSScheduling {
    background: url(/resources/img/Software/Work/Scheduling.png) center center no-repeat; }
  #SoftwareMMS #MMSInventory {
    background: url(/resources/img/Software/Work/Inventory.png) center center no-repeat; }

/*_resources.scss*/
#lookAround {
  padding: 0 15% 0 15%;
  font-weight: 600;
  font-size: 2em;
  text-align: center;
  color: #4f5c73; }

#lookAround:after {
  display: block;
  clear: both;
  content: " ";
  margin-left: 25%;
  margin-right: 25%;
  line-height: 30px;
  min-height: 30px;
  border-bottom: 3px solid #ff9933; }

#ResourceWhatSearch {
  margin-bottom: 30px; }
  #ResourceWhatSearch p {
    color: #4f5c73;
    font-weight: 400;
    font-size: 1.3em;
    margin-left: 48px; }
  #ResourceWhatSearch #ResourceSearch {
    padding: 100px 60px; }
    #ResourceWhatSearch #ResourceSearch .input-group {
      margin-bottom: 8px; }
    #ResourceWhatSearch #ResourceSearch input[type=text] {
      border-bottom-left-radius: 6px;
      border-top-left-radius: 6px;
      font-size: 22px;
      height: 46px; }
    #ResourceWhatSearch #ResourceSearch button {
      font-size: 22px;
      height: 46px; }
    #ResourceWhatSearch #ResourceSearch label {
      padding-right: 10px;
      font-size: 1em; }
    #ResourceWhatSearch #ResourceSearch label:last-child {
      padding-right: 0px; }
    #ResourceWhatSearch #ResourceSearch p {
      display: inline-block;
      padding: 0;
      margin: 0;
      width: 100%; }
      #ResourceWhatSearch #ResourceSearch p span {
        display: inline-block;
        width: 90%;
        font-size: .72em;
        padding: 14px 0 0 0;
        margin: 0;
        text-align: center; }
    #ResourceWhatSearch #ResourceSearch p:before {
      display: inline-block;
      width: 5%;
      content: "{";
      padding-right: 6px;
      font-size: 2.2em;
      font-weight: 600;
      float: left; }
    #ResourceWhatSearch #ResourceSearch p:after {
      display: inline-block;
      width: 5%;
      content: "}";
      padding-left: 6px;
      font-size: 2.2em;
      font-weight: 600;
      float: right; }

#ResourceDemonstrations {
  padding-top: 20px;
  border-top: 1px solid white;
  background: url(/resources/img/colorbar.svg) repeat-x;
  background-color: #ff9933;
  position: relative; }
  #ResourceDemonstrations p {
    color: #666666;
    font-weight: 400;
    font-size: 1.3em;
    margin-left: 48px; }
  #ResourceDemonstrations ul {
    position: relative;
    display: block; }
  #ResourceDemonstrations ul li {
    display: inline-block;
    position: relative;
    width: 43%;
    background-color: white;
    list-style-type: none;
    margin: 8px;
    padding: 0; }
  #ResourceDemonstrations figure img {
    width: 100%;
    background-size: cover; }
  #ResourceDemonstrations figure figcaption {
    padding-left: 6px;
    border-top: 1px solid #444444; }
  #ResourceDemonstrations .videoCount {
    position: absolute;
    width: 45%;
    height: 116px;
    right: 0;
    top: 0;
    background-color: #000000;
    opacity: 0.7;
    filter: alpha(opacity=70);
    /* For IE8 and earlier */
    text-transform: uppercase;
    text-align: center;
    font-size: .8em; }
    #ResourceDemonstrations .videoCount span {
      display: block;
      padding-top: 30px;
      font-weight: 600;
      font-size: 1.4em; }

#ResourceTestimonials {
  padding-top: 20px;
  border-top: 1px solid white;
  background: url(/resources/img/colorbar.svg) repeat-x;
  background-color: #4f5c73;
  padding-bottom: 16px; }

#ResourceTestimonials h1,
#ResourceTestimonials p,
#ResourceTestimonials li,
#ResourceTestimonials li h2,
#ResourceTestimonials a,
#ResourceTestimonials q {
  color: #ffffff;
  text-decoration: none; }

#ResourceTestimonials a h2:hover {
  text-decoration: underline; }

#ResourceTestimonials p {
  font-size: 1.3em;
  margin-left: 48px;
  font-weight: 400; }

#ResourceTestimonials li h2 {
  text-transform: none;
  font-weight: 100; }

#ResourceTestimonials ul li {
  list-style-type: none;
  padding-left: 50px;
  background: url(../img/quote_ImgID1.png) no-repeat;
  background-position-x: 0;
  background-position-y: 16px;
  background-size: 32px; }

/*_support.scss*/

/*# sourceMappingURL=lucity.css.map */
