<div class="container-fluid">
    <h1>Take a Look Around...</h1>

    <p id="lookAround">The best way to learn about Lucity (the software and the company) is to step into a user's shoes. They're OUR best resource, and the information they routinely access, inspire and help develop is invaluable to potential LucityAM users.</p>

    <div id="ResourceWhatSearch" class="row">
        <div class="col-xs-12 col-sm-6" id="WhatWouldYouLiketoKnow">
            <h2>What Would You Like to Know?</h2>

            <p>This search tool will dig through all of our online support resources for our users. Enter a search term and choose which avenue of technology you'd like to access: the software Help Guides, the Lucity Blog, our YouTube channel, or the Support Center. Go ahead, give it a shot. Maybe you want to learn about our mobile tools? Or do you manage a fleet? Are you a GIS guru?</p>
        </div>
        <div id="ResourceSearch" class="col-xs-12 col-sm-6" class="test" ng-controller="resourcesSearchCtrl">
            <div class="input-group">
                <a id="resourceSearch" href="" style="display:none;" target="_blank"></a>
                <input ng-model="resourceSearch.s" type="text" class="form-control" placeholder="Search for...">
                <span class="input-group-btn">
                    <button class="btn btn-default" type="button" ng-click="resourceSearchSubmitForm()"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </span>
            </div>
            <div>
                <label>
                    <input type="radio" ng-model="resourceSearch.t" value="help" checked=""> Help Guides
                </label>
                <label>
                    <input type="radio" ng-model="resourceSearch.t" value="blog"> Blog
                </label>
                <label>
                    <input type="radio" ng-model="resourceSearch.t" value="video"> Videos
                </label>
                <label>
                    <input type="radio" ng-model="resourceSearch.t" value="support"> Support Center
                </label>
            </div>
            <p><span>The results will display in a new window so you don't lose your place here.</span></p>
        </div>
    </div>

    <div id="ResourceDemonstrations" class="row" ng-controller="youTubePlaylistCtrl">
        <div class="col-xs-12 col-sm-6">
            <h1>Demonstrations</h1>
            <p>Our YouTube channel is quickly becoming a fantastic training and support resource for our users. You'll find everything from step-by-step instructional videos to office tours to best practices information.</p>
            <p>We've created a few playlists to get you started...</p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <ul>
                <li ng-repeat="playlist in YouTubePlaylists.items">
                    <a href="https://www.youtube.com/playlist?list={{playlist.id}}" title="Lucity UTube - {{playlist.snippet.title}}" target="_blank">
                        <figure>
                            <img ng-src="{{playlist.snippet.thumbnails.medium.url}}" alt="{{playlist.snippet.title}}" />
                            <figcaption>{{playlist.snippet.title}}</figcaption>
                        </figure>
                        <div class="videoCount"><span>{{playlist.contentDetails.itemCount}}</span>Videos</div>
                    </a>
                </li>
            </ul>
        </div>
    </div>

    <div id="ResourceTestimonials" class="row" ng-controller="TestimonialsCtrl">
        <div class="col-xs-12 col-sm-6">
            <h1>Testimonials</h1>
            <p>Learn all about how a few of our users selected, implemented, and then embraced LucityAM.</p>
            <p>If you'd rather get in touch with an agency and hear it straight from them, let us know. We'll help make that connection.</p>
        </div>
        <div class="col-xs-12 col-sm-6">
            <ul>
                <li ng-repeat="testimonial in filteredTestimonials = ( testimonials | filter:{keywords: 'resourcesPage'} )" ng-if="$index < 4">
                    <a href="{{testimonial.caseStudyLink}}" target="_blank" ng-show="testimonial.caseStudyLink" title="View a case study for {{testimonial.cite.organization}}">
                        <h2>{{testimonial.cite.organization}}</h2>
                        <q>{{testimonial.quote}}</q>
                    </a>
                    <div ng-hide="testimonial.caseStudyLink">
                        <h2>{{testimonial.cite.organization}}</h2>
                        <q>{{testimonial.quote}}</q>
                    </div>
                </li>
            </ul>
        </div>
    </div>

</div>
