<div id="Support" class="container-fluid"  ng-controller="SupportCtrl">
    <div class="row">
        <div class="col-xs-12 col-sm-8">
            <h1>Need a Title</h1>
            <p>If you speak with any of our users, they'll be the first to tell you that the Lucity Support Team is second to none. We've built a fantastic team of people who are ideally suited to be "helpers" - the people you need to call when you're a bit lost and the folks you want to call when you're feeling stuck. </p>
            <p>We invite you to visit our Support Center. This is where you'll find all the critical info we provide to our users to help them make the most of their investment. Stop by, take a look around, and drop us a note if you like. And if you want a little more info before you start exploring, watch <a href="https://www.youtube.com/watch?v=R_wRyjG4f3g">this video </a> for a quick tour.</p>
            <p>Here's just an overview of what you'll find: (links take you to the applicable page on our Support Center)</p>
        </div>
        <div class="col-xs-12 col-sm-4">
            <h3>We Hear You...</h3>
            <blockquote>
                <p>{{randomTestimonial.quote}}</p>
                <footer>
                    <cite><span ng-if="randomTestimonial.cite.name">{{randomTestimonial.cite.name}} @</span> {{randomTestimonial.cite.organization}}</cite>
                </footer>
            </blockquote>
            <p>There are more where this came from...want to hear more of our client's comments?</p>
        </div>
    </div>
</div>
