/* Software Home */

#SoftwareHome
{
    p.proven,
    p.versatile,
    p.complementary
    {
        padding: 0 10% 0 10%;
        font-size: 1.9em;
        font-weight: 600;
        color: $lucity-blue-grey;
        text-align: center;
    }
    p.proven:after,
    p.versatile:after
    {
        display: block;
        content:"";
        margin: 18px 25% 0 25% ;
        border-bottom: 3px solid $lucity-dark-orange;

    }


    #SoftwareList
    {
        display: block;
        position: relative;
        height: 500px;
        background: $lucity-blue-grey; /* Old browsers */
        background: -moz-linear-gradient(top,  $lucity-blue-grey 0%, $lucity-blue-grey 51%, #ffffff 72%, #ffffff 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  $lucity-blue-grey 0%,$lucity-blue-grey 51%,#ffffff 72%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  $lucity-blue-grey 0%,$lucity-blue-grey 51%,#ffffff 72%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$lucity-blue-grey', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

        h2
        {
            color: $lucity-font-color-inverse;
            font-size: 2em;
            margin-top: 0;
        }

        h2 a
        {
            color: $lucity-font-color-inverse;
        }

        ul li 
        {
            list-style-type: none;
            color: $lucity-font-color-inverse;
            font-size: 1em;
            line-height: 1.8em;
        }

        #Assets,
        #Work,
        #GIS,
        #Mobile,
        #CitizenPortal
        {
            display: block;
            position: absolute;
            border-radius: 20px;
            padding: 10px 10px 20px 20px;

        }

        #Assets
        {
            background-color: $lucity-orange;
            top: 100px;
            left: 4%;
            width: 50%;
        }
        #Work
        {
            background-color: $lucity-green;
            top: 40px;
            left: 50%;
            width: 24%;
            padding-bottom: 50px;
        }
        #GIS
        {
            background-color: $lucity-green;
            top: 210px;
            left: 75%;
            width: 19%;
        }
        #Mobile
        {
            background-color: $lucity-orange;
            top: 280px;
            left: 60%;
            width: 17%;
        }
        #CitizenPortal
        {
            background-color: $lucity-blue-green;
            top: 60px;
            left: 70%;
            width: 26%;
        }

    }

    #SoftwareList:after
    {
        content: "";
        position: absolute;
        top: 300px;
        right: 3%;
        width: 8%;
        height: 140px;
        background: white url('/resources/img/Software/V_esriPartnerNet-gold_sRGB.png') no-repeat top center;
        background-size: contain;
        border: 4px solid $lucity-dark-green;
        border-radius: 100px;
    }
}
