<div id="SoftwareGeneral" class="container-fluid">
    <h1>Software Specifics</h1>

    <p>
        LucityAM is a comprehensive suite of integrated COTS software solutions for Public Works that
        enables agencies to meet their demands for management of assets, customer requests and
        work orders, preventive maintenance, resources and inventory, best practices and regulatory
        compliance.
    </p>

    <div class="SoftwareSpecifics row">
        <div class="Turnkey col-sm-2 col-sm-offset-1 col-xs-4 ">
            <h4>Turnkey<br />Vendor</h4>
        </div>

        <div class="Configurable col-sm-2 col-xs-4 ">
            <h4>Highly<br />Configurable</h4>
        </div>

        <div class="Value col-sm-2 col-xs-4 ">
            <h4>Out-of-the-box<br />Value</h4>
        </div>

        <div class="Flexible col-sm-2 col-sm-offset-0 col-xs-4 col-xs-offset-2 ">
            <h4>Flexible GIS<br />Integration</h4>
        </div>

        <div class="Robust col-sm-2 col-xs-4 ">
            <h4>Robust Mobile<br />Applications</h4>
        </div>
    </div>

    <div class="SoftwareOther row">
        <ul class="Details col-sm-7 col-xs-12">
            <li class="Integration">
                <span>Integration with Lucity REST API</span>
            </li>
            <li class="Interfaces">
                <span>Interfaces with CCTV, SCADA, fuelings, and bar coding systems</span>
            </li>
            <li class="Reporting">
                <span>Reporting with Crystal Reports and SSRS</span>
            </li>
            <li class="ESRI">
                <span>Long-term member of the Esri Partner Network</span>
            </li>
            <li class="Dell">
                <span>Member of the Dell Consultant Network</span>
            </li>
        </ul>

        <div class="MoreDetails col-sm-5 col-xs-12">

            <div>
                <h4>User Interfaces</h4>
                <p>
                    <span>Desktop</span>
                    <span>Web</span>
                    <span>Mobile</span>
                </p>
                <h4>Deployment</h4>
                <p>
                    <span>On-Premises</span>
                    <span>SaaS</span>
                </p>
            </div>

            <a class="Requirements" href="https://lucity.zendesk.com/hc/en-us/articles/202488650-Technical-Specifications" target="_blank">
                Download minimum requirements and system architecture specifications
            </a>
        </div>
    </div>

    <div id="Software" class="container-fluid">
        <h1>Enterprise Asset Management Software</h1>
        <div class="row">
            <div class="EAMS assets col-sm-4 col-xs-12">
                <a href="/Software/Enterprise-Asset-Management-Software">
                    <img src="resources/img/icons/assets.svg" alt="Assets">
                    <h2>Assets</h2>
                    <ul>
                        <li>Attributes</li>
                        <li>Inspection</li>
                        <li>Testing</li>
                    </ul>
                </a>
            </div>
            <div class="EAMS work col-sm-4 col-xs-12">
                <a href="/Software/Maintenance-Management-Software">
                    <img src="resources/img/icons/work.svg" alt="Assets">
                    <h2>Work</h2>
                    <ul>
                        <li>Work Orders</li>
                        <li>Scheduling</li>
                        <li>Inventory</li>
                    </ul>
                </a>
            </div>
            <div class="EAMS gis col-sm-4 col-xs-12">
                <a href="/Software/Geographic-Information-System">
                    <img src="resources/img/icons/gis.svg" alt="Assets">
                    <h2>GIS</h2>
                    <ul>
                        <li>Desktop</li>
                        <li>Web</li>
                        <li>Mobile</li>
                    </ul>
                </a>
            </div>
        </div>
    </div>

    <div id="WorkingAgencies" class="row">
        <h2>Software Installations</h2>
        <p>You can find us working with these agencies</p>
        <iframe id="LucityClients" scrolling="no" marginheight="0" marginwidth="0" title="Lucity Clients" src="http://lucity.maps.arcgis.com/apps/Embed/index.html?webmap=6535b5a0c3bf4f9c9d519c732b769590&amp;home=false&amp;zoom=true&amp;scale=false&amp;search=false&amp;searchextent=true&amp;basemap_gallery=false&amp;disable_scroll=true&amp;theme=light"></iframe>
    </div>

    <div id="Inspiration" class="row">
        <h2 class="col-xs-12 col-sm-3">80%</h2>
        <p class="col-xs-12 col-sm-9">of our software's development inspiration comes from our clients' suggestions and requests.</p>
    </div>

    <div id="SoftwareWeHearYou">
        <h2>We're listening</h2>
        <p>So tell us what your ideal asset management solution is.</p>
    </div>
</div>

<div class="LearnMore container-fluid" ng-controller="youTubeVideoListCtrl">
    <h1>Learn More</h1>

    <ul class="row">
        <li ng-repeat="video in filteredVideos = ( YouTubeVideoList.Videos | filter:{Categories: 'Learn-More-Home'} )" class="col-md-3 col-sm-6 col-xs-12">
            <a href="{{video.URL}}" title="{{video.Title}}" target="_blank">
                <img ng-src="{{video.ImgUrl}}" alt="Lucity UTube - {{video.Title}}" />
            </a>
            <span class="caption">{{video.Title}}</span>
        </li>
    </ul>

</div>
