<div id="SoftwareMiniNav" class="container-fluid">
    <div class="row">
        <a href="/Software/Deployment-Integration-Reporting">
            <h2>General</h2>
            <img src="resources/img/icons/general.svg" alt="Assets" />
        </a>
        <a href="/Software/Enterprise-Asset-Management-Software">
            <h2>Assets</h2>
            <img src="resources/img/icons/assets.svg" alt="Assets" />
        </a>
        <a href="/Software/Maintenance-Management-Software">
            <h2>Work</h2>
            <img src="resources/img/icons/work.svg" alt="Assets" />
        </a>
        <a href="/Software/Geographic-Information-System" class="selected">
            <h2>GIS</h2>
            <img src="resources/img/icons/gis.svg" alt="Assets" />
        </a>
    </div>
</div>

<div class="container-fluid row">
    <div id="SoftwareGIS" class="col-md-8">
        <h1>Geographic Information System</h1>

        <p class="configure">
            Configure your GIS integrations to promote distributed asset data ownership across your organizational units.
        </p>

        <div class="attributes">
            <p>
                Some asset<br />
                attributes can be<br />
                exclusively managed<br />
                within your GIS...
            </p>

            <p>
                ...others may be<br />
                exclusively managed<br />
                within the work/asset<br />
                management system
            </p>
        </div>

        <p class="shared">
            All information is automatically shared across both systems.
        </p>

        <div class="ESRI">
            <p>Lucity is proud to be a gold level member of the ESRI partner network.</p>
        </div>
    </div>


    <div class="LearnMore lightBackground col-md-4" ng-controller="youTubeVideoListCtrl">
        <h1>Learn More</h1>

        <ul class="container-fluid row">
            <li ng-repeat="video in filteredVideos = ( YouTubeVideoList.Videos | filter:{Categories: 'Learn-More-GIS'} )" class="col-md-12 col-sm-6 col-xs-12">
                <a href="{{video.URL}}" title="{{video.Title}}" target="_blank">
                    <img ng-src="{{video.ImgUrl}}" alt="Lucity UTube - {{video.Title}}" />
                </a>
                <span class="caption">{{video.Title}}</span>
            </li>
        </ul>
    </div>
</div>
