<div id="SoftwareHome" class="container-fluid">
    <h1>Enterprise Asset Management Software</h1>

    <p class="proven">Proven, innovative software designed specifically with public works departments and water/wastewater utilities in mind.</p>

    <p class="versatile">Versatile interfaces and deployments to keep pace with your agency's evolving demands and requests.</p>

    <p class="complementary">Complementary third-party integrations so your entire agency has access to key data.</p>


    <div id="SoftwareList" class="row container-fluid">
        <div id="Assets" class="row">
            <h2>Assets</h2>
            <ul class="col-xs-4">
                <li>Water</li>
                <li>Sewer</li>
                <li>Sewer Analysis</li>
                <li>FOG</li>
                <li>IPT</li>
                <li>Plant</li>
                <li>Equipment</li>
                <li>Storm</li>
                <li>Storm BMP</li>
            </ul>
            <ul class="col-xs-4">
                <li>Streets & Roads</li>
                <li>Bridgges</li>
                <li>Rights-of-Way</li>
                <li>Signs</li>
                <li>Signals</li>
                <li>Street Lights</li>
                <li>Traffic Analysis</li>
                <li>Pavement Analysis</li>
            </ul>
            <ul class="col-xs-4">
                <li>Parks</li>
                <li>Facilities</li>
                <li>Trees</li>
                <li>Refuse & Recycling</li>
                <li>Fleet</li>
                <li>Environmental Site</li>
                <li>Electric</li>
            </ul>
        </div>
        <div id="Work">
            <h2>Work</h2>
            <ul>
                <li>Work Adminstrator</li>
                <li>Work Orders</li>
                <li>Requests</li>
                <li>Inventory Control</li>
            </ul>
        </div>
        <div id="GIS">
            <h2>GIS</h2>
            <ul>
                <li>GIS Desktop</li>
                <li>GIS Web</li>
                <li>GIS Viewer</li>
            </ul>
        </div>
        <div id="Mobile">
            <h2>Mobile</h2>
            <ul>
                <li>Android</li>
                <li>iOS</li>
            </ul>
        </div>
        <div id="CitizenPortal">
            <h2>Citizen Portal</h2>
            <ul>
                <li>Internet</li>
            </ul>
        </div>
    </div>

    <div id="Inspiration" class="row">
        <h2 class="col-xs-3">80%</h2>
        <p class="col-xs-9">of our software's development inspiration comes from our client family's suggestions and requests.</p>
    </div>

    <div id="SoftwareWeHearYou">
        <h2>We Hear You</h2>
        <p>So tell us what your ideal asset management solution is.</p>
    </div>

    <div id="WorkingAgencies" class="row">
        <h2>Software Installations</h2>
        <p>You can find us working with these agencies</p>
    </div>


</div>
    
