<div id="SoftwareEAMS" class="container-fluid">
    <h1>Enterprise Asset Management Software</h1>

    <p>Proven, innovative software designed specifically with public works departments and water/wastewater utilities in mind.</p>

    <p>Versatile interfaces and deployments to keep pace with your agency's evolving demands and requests.</p>

    <p>Complementary third-party integrations so yourentire agency has access to key data.</p>


    <div class="row">
        <div id="Assets">
            <h2>Assets</h2>
            <ul>
                <li>Water</li>
                <li>Sewer</li>
                <li>Sewer Analysis</li>
                <li>FOG</li>
                <li>IPT</li>
                <li>Plant</li>
                <li>Equipment</li>
                <li>Storm</li>
                <li>Storm BMP</li>
                <li>Streets & Roads</li>
                <li>Bridgges</li>
                <li>Rights-of-Way</li>
                <li>Signs</li>
                <li>Signals</li>
                <li>Street Lights</li>
                <li>Traffic Analysis</li>
                <li>Pavement Analysis</li>
                <li>Parks</li>
                <li>Facilities</li>
                <li>Trees</li>
                <li>Refuse & Recycling</li>
                <li>Fleet</li>
                <li>Environmental Site</li>
                <li>Electric</li>
            </ul>
        </div>
        <div id="Work">
            <h2>Work</h2>
            <ul>
                <li>Work Adminstrator</li>
                <li>Work Orders</li>
                <li>Requests</li>
                <li>Inventory Control</li>
            </ul>
        </div>
        <div id="GIS">
            <h2>GIS</h2>
            <ul>
                <li>GIS Desktop</li>
                <li>GIS Web</li>
                <li>GIS Viewer</li>
            </ul>
        </div>
        <div id="Mobile">
            <h2>Mobile</h2>
            <ul>
                <li>Android</li>
                <li>iOS</li>
            </ul>
        </div>
        <div id="CitizenPortal">
            <h2>Citizen Portal</h2>
            <ul>
                <li>Internet</li>
            </ul>
        </div>
    </div>
</div>
    
