
<div id="SoftwareEAMS" class="container-fluid">
    <h1>Enterprise Asset Management Software</h1>

    <p>LucityAM offers preconfigured,fully attributed asset registries,with appropriate hierarchical relationships;and forms, ratings, and calculations based on industry standard condition assessment protocols. These solutions ease the burden of regulatory compliance reporting,and foster best management practices.</p>

    <div class="row">
        <div class="Water col-md-2 col-sm-3 col-xs-4">
            <a href="#Water" alt="Water">Water</a>
        </div>
        <div class="Sewer col-md-2 col-sm-3 col-xs-4">
            <a href="#Sewer" alt="Sewer">Sewer</a>
        </div>
        <div class="Storm col-md-2 col-sm-3 col-xs-4">
            <a href="#Storm" alt="Storm">Storm</a>
        </div>
        <div class="Facilities col-md-2 col-sm-3 col-xs-4">
            <a href="#Facilities" alt="Facilities">Facilities</a>
        </div>
        <div class="Signs col-md-2 col-sm-3 col-xs-4">
            <a href="#Signs" alt="Signs">Signs</a>
        </div>
        <div class="StreetsAndRoads col-md-2 col-sm-3 col-xs-4">
            <a href="#Streets-And-Roads" alt="Streets & Roads">Streets & Roads</a>
        </div>
        <div class="Bridges col-md-2 col-sm-3 col-xs-4">
            <a href="#Bridges" alt="Bridges">Bridges</a>
        </div>
        <div class="RightsOfWay col-md-2 col-sm-3 col-xs-4">
            <a href="#Rights-of-Way" alt="Rights-of-Way">Rights-of-Way</a>
        </div>
        <div class="Pavement col-md-2 col-sm-3 col-xs-4">
            <a href="#Pavement" alt="Pavement">Pavement</a>
        </div>
        <div class="Traffic col-md-2 col-sm-3 col-xs-4">
            <a href="#Traffic" alt="Traffic">Traffic</a>
        </div>
        <div class="Signals col-md-2 col-sm-3 col-xs-4">
            <a href="#Signals" alt="Signals">Signals</a>
        </div>
        <div class="StreetLights col-md-2 col-sm-3 col-xs-4">
            <a href="#Street-Lights" alt="Street Lights">Street Lights</a>
        </div>
        <div class="Equipment col-md-2 col-sm-3 col-xs-4">
            <a href="#Equipment" alt="Equipment">Equipment</a>
        </div>
        <div class="Fleet col-md-2 col-sm-3 col-xs-4">
            <a href="#Fleet" alt="Fleet">Fleet</a>
        </div>
        <div class="Parks col-md-2 col-sm-3 col-xs-4">
            <a href="#Parks" alt="Parks">Parks</a>
        </div>
        <div class="Electric col-md-2 col-sm-3 col-xs-4">
            <a href="#Electric" alt="Electric">Electric</a>
        </div>
        <div class="Trees col-md-2 col-sm-3 col-xs-4">
            <a href="#Trees" alt="Trees">Trees</a>
        </div>
        <div class="RefuseAndRecycling col-md-2 col-sm-3 col-xs-4">
            <a href="#Refuse-And-Recycling" alt="Refuse & Recycling">Refuse & Recycling</a>
        </div>
        <div class="Environmental col-md-2 col-sm-3 col-xs-4">
            <a href="#Environmental" alt="Environmental">Environmental</a>
        </div>
    </div>
</div>

<div id="SoftwareCommunity" class="container-fluid">
    <p>
        Your community relies on an interwoven grid of streets, utility systems, facilities and green spaces, so you need an intuitive solution that's flexible to your needs.
        It's more than inventory. It's an instantaneous view of your full suite of assets...understanding its history, current condition and strategic future.
    </p>
</div>

<div id="SoftwareAssetHighlights" class="container-fluid">
    <h1>Asset Highlights</h1>

    <div class="linkBox row">
        <div id="Sewer" class="col-xs-12 col-sm-6">
            <h3>Sewer</h3>
            <ul>
                <li><a href="/Software/Sewer/NASSCO-PACP-MACP-LACP">NASSCO (PACP, MACP, LACP)</a></li>
                <li><a href="/Software/Sewer/SSO-Reporting">SSO reporting</a></li>
                <li><a href="/Software/Sewer/FOG-Programs">FOG programs</a></li>
                <li><a href="/Software/Sewer/Industrial-Pretreatment">industrial pretreatment</a></li>
            </ul>
        </div>

        <div id="Storm" class="col-xs-12 col-sm-6">
            <h3>Storm</h3>
            <ul>
                <li><a href="/Software/Storm/NASSCO-PACP-MACP">NASSCO (PACP, MACP)</a></li>
                <li><a href="/Software/Storm/NPDES-Permits">NPDES permits</a></li>
                <li><a href="/Software/Storm/Illicit-Discharges">illicit discharges</a></li>
                <li><a href="/Software/Storm/BMPs">BMPs</a></li>
            </ul>
        </div>

        <div id="Water" class="col-xs-12 col-sm-6">
            <h3>Water</h3>
            <ul>
                <li><a href="/Software/Water/Hydrant-Flow-Testing">hydrant flow testing</a></li>
                <li><a href="/Software/Water/Flushing">flushing</a></li>
                <li><a href="/Software/Water/Backflow-Prevention">backflow prevention</a></li>
            </ul>
        </div>

        <div id="Signs" class="col-xs-12 col-sm-6">
            <h3>Signs</h3>
            <ul>
                <li><a href="/Software/Signs/MUTCD-Standards-And-Retroreflectivity">MUTCD standards and retroreflectivity</a></li>
            </ul>
        </div>

    </div>

</div>

<div id="SoftwareLearnMore" class="container-fluid" ng-controller="youTubeVideoListCtrl">
    <h1>Learn More</h1>

    <ul class="row">
        <li ng-repeat="video in filteredVideos = ( YouTubeVideoList.Videos | filter:{Categories: 'Learn-More-Home'} )" class="col-md-3 col-sm-4 col-xs-6">
            <a href="{{video.URL}}" title="{{video.Title}}" target="_blank">
                <img ng-src="{{video.ImgUrl}}" alt="Lucity UTube - {{video.Title}}" />
            </a>
            <span class="caption">{{video.Title}}</span>
        </li>
    </ul>
    
</div>
