<div id="OurTeam" class="container-fluid"  ng-controller="CompanyCtrl">
    <h1>Everything you need to know about Lucity</h1>

    <div id="EverythingYouNeedToKnow">
        <p>There's so much we would love to share with you...our awesome workplace environment (think fully-stocked kitchen), our management team's philosophy, the 'clients first' attitude we've always fostered, and the just plain awesome folks we hire.</p>
        <p class="findOut">But wouldn't you rather find out for yourself?</p>
        <p>We invite you to get to know us.</p>
        <p>Give us a call, stop by our booth, come to a user group meeting, or attend our Annual Conference & Training (ACT).</p>
    </div>

    <h2>But since you're here...</h2>

    <div class="linkBox row">
        <div id="OurTeam" class="col-xs-12 col-sm-6">
            <h3>Our Team</h3>
            <ul>
                <li><a href="/Company/Management-Team">Management Team</a></li>
                <li><a href="/Company/Staff-Spotlights">Staff Spotlights</a></li>
            </ul>
        </div>

        <div id="JobListings" class="col-xs-12 col-sm-6">
            <h3>Job Listings</h3>
            <ul>
                <li><a href="/Company/Careers/Implementation-Specialist">Implementation Specialist</a></li>
                <li><a href="/Company/Careers/Southeast-Regional-Sales-Representative">Southeast Regional Sales Representative</a></li>
                <li><a href="/Company/Careers/Web-Developer">Web Developer</a></li>
            </ul>
        </div>
    </div>

    
</div>
