<h2>Implementation Specialist</h2>

<p>
    We are accepting resumes for the position of<strong> Implementation Specialist</strong>. This position should establish a positive baseline for the relationship between the client and Lucity all while supporting the project plan and schedule for implementing the Lucity software. &nbsp;Responsibilities would include:
</p>
<ul>
    <li>
        Provide technical and project management services to ensure successful and profitable implementation of Lucity software products for our clients.
    </li>
    <li>
        Scheduling/coordinating project efforts and activities with the Lucity implementation project stakeholders client-side
    </li>
    <li>
        Product support for entire Lucity product line (includes new products/functionality/platforms that we add at each release)
    </li>
    <li>
        All project implementation activities including (but not limited to):
    </li>
</ul>
<ul>
    <li>
        Training end users and administrators on-site and via the web
    </li>
    <li>
        Conversion of existing client data
    </li>
    <li>
        Business process review
    </li>
    <li>
        Coordination/Management of all project activities and schedule/timeline
    </li>
    <li>
        Create project documentation when required
    </li>
</ul>
<p>
    If you are a technical person who enjoys (and is good at) working with people, keeping up with technology, managing projects and traveling, this job is for you!
</p>
<p>
    <em>Desired Skills and Experience:</em>
</p>
<ul>
    <li>
        Hands-on experience providing technical services for implementation of COTS products
    </li>
    <li>
        Hands-on experience providing management services for implementation projects, preferably to local governmental agencies, is preferred (but not required)
    </li>
    <li>
        Exceptional presentation and training skills
    </li>
    <li>
        Excellent interpersonal and communication skills
    </li>
    <li>
        Strong problem solving and analytical skills
    </li>
    <li>
        Ability to travel extensively
    </li>
    <li>
        Proficiency with Microsoft Office (Word, PowerPoint, Excel, Access)
    </li>
    <li>
        Experience with databases (specifically Microsoft Access, SQL Server and Oracle)
    </li>
    <li>
        Experience with Crystal Reports
    </li>
    <li>
        Experience with Esri software is required (ArcGIS and ArcServer at a minimum)
    </li>
</ul>
<p>
    Required Travel: 50-75%
</p>
<p>
    Required Education: BS/BA degree with GIS emphasis
</p>

