<h2>Software Quality Assurance Specialist</h2>

<p>
    We are accepting resumes for the position of <strong>Software Quality Assurance Specialist</strong>. This position works as a part of our software development team to maintain a high standard of quality and usability for the Lucity software suite.
</p>
<p>
    A Quality Assurance Specialist will work as a member of an agile development team, interacting directly with developers, other QA specialists, database designers, and client advocates. Responsibilities will include working with team members to execute test plans, report feedback to developers, and monitor the status of reported defects. The QA specialist will also analyze existing applications in order to document and test on other platforms. Testing will be needed on the web, desktop, and mobile applications in conjunction with software release schedules. QA specialists will participate in design meetings and will be an integral part of the development process from conception to delivery.
</p>

<p>
    <em>Required Skills and Experience:</em>
</p>
<ul>
    <li>
        Good verbal and written communication skills
    </li>
    <li>
        Strong attention-to-detail and organizational skills
    </li>
    <li>
        Excellent problem solving and analytical skills
    </li>
    <li>
        Experience using Microsoft Windows Operating Systems
    </li>
    <li>
        Previous software programming or QA experience or a technical degree in a related field such as Computer Science, Engineering, or GIS
    </li>
</ul>

<p>
    <em>Desired Skills and Experience:</em>
</p>
<ul>
    <li>
        Experience with SQL/Databases
    </li>
    <li>
        Experience with ESRI ArcGIS software
    </li>
    <li>
        Proficiency in writing unit tests
    </li>
</ul>

<p>
    Required Travel: none
</p>
